<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png">

Quantconnect

Introduction to Financial Python
</div>

# 01 Data Types and Data Structures

# Introduction

This tutorial provides a basic introduction to the Python programming language. If you are new to Python, you should run the code snippets while reading this tutorial. If you are an advanced Python user, please feel free to skip this chapter.

# Basic Variable Types
The basic types of variables in Python are: strings, integers, floating point numbers and booleans.

Strings in python are identified as a contiguous set of characters represented in either single quotes (' ') or double quotes (" ").

In [ ]:
my_string1 = 'Welcome to'
my_string2 = "QuantConnect"
print(my_string1 + ' ' + my_string2)

Welcome to QuantConnect

In [ ]:
my_string1 = 'Hola, mi nombre es'
my_string2 = "Alejandro"
print(my_string1 + ' ' + my_string2) #Print and concatenate my_string1 and my_string2

Hola, mi nombre es Alejandro

An integer is a round number with no values after the decimal point.

In [ ]:
my_int = 10 
print(my_int)
print(type(my_int))

10
<class 'int'>

In [ ]:
integer = 15 #Assign a integer to a variable called integer
print(integer) #print the content of the variable integer
print(type(integer)) #print the class of the variable called integer

15
<class 'int'>

The built-in function int() can convert a string into an integer.

In [ ]:
my_string = "100"
print(type(my_string))
my_int = int(my_string)
print(type(my_int))

<class 'str'>
<class 'int'>

In [ ]:
string_example = "456" #Define a variable called string_example that contains a string
print(f'string_example={string_example} with class={type(string_example)}') #Print the class of the variable string_example and its content
int_example = int(string_example) #Make a type cast of the variable string_example to integer and store his content in variable int_example
print(f'int_example={int_example} with class={type(int_example)}')#Print the class of the variable int_example and its content

string_example=456 with class=<class 'str'>
int_example=456 with class=<class 'int'>

A floating point number, or a float, is a real number in mathematics. In Python we need to include a value after a decimal point to define it as a float

In [ ]:
my_string = "100"
my_float = float(my_string)
print(type(my_float))

<class 'float'>

In [ ]:
string_example = "456.20" #Define a variable called string_example that contains a string
print(f'string_example={string_example} with class={type(string_example)}') #Print the class of the variable string_example and its content
float_example = float(string_example) #Make a type cast of the variable string_example to float and store his content in variable float_example
print(f'float_example={float_example} with class={type(float_example)}')#Print the class of the variable float_example and its content

string_example=456.20 with class=<class 'str'>
float_example=456.2 with class=<class 'float'>

As you can see above, if we don't include a decimal value, the variable would be defined as an integer. The built-in function float() can convert a string or an integer into a float.

In [ ]:
my_bool = False
print(my_bool)
print(type(my_bool))

False
<class 'bool'>

In [ ]:
bool_example = True

if bool_example:     #If statement that evaluates the value of bool_example
  print("Is true")   #If the value of bool_example is True, then print "Is true"
else:  
  print("Is false")  #If the value of bool_example is False, then print "Is false"

print(f'bool_example={bool_example} with class={type(bool_example)}') #Print the class of the variable bool_example and its content

Is true
bool_example=True with class=<class 'bool'>

A boolean, or bool, is a binary variable. Its value can only be True or False. It is useful when we do some logic operations, which would be covered in our next chapter.

In [ ]:
print("Addition ", 1+1)
print("Subtraction ", 5-2)
print("Multiplication ", 2*3)
print("Division ", 10/2)
print('exponent', 2**3)

Addition  2
Subtraction  3
Multiplication  6
Division  5.0
exponent 8

In [ ]:
a = 3
b = 10
print("Addition ", a+b) #Print the result of sum a and b
print("Subtraction ", a-b) #Print the result of subtract b to a
print("Multiplication ", a*b) #Print the result of a times b
print("Division ", a/b) #Print the result of divides a between b
print('exponent', a**b) #Print the result of raise a to b

Addition  13
Subtraction  -7
Multiplication  30
Division  0.3
exponent 59049

# Basic Math Operations

The basic math operators in python are demonstrated below:

In [ ]:
print(1/3)
print(1.0/3)

0.3333333333333333
0.3333333333333333

In [ ]:
a = 5
b = 4

print(a/b) #Print the result of a division between two integers

c = 1.569
d = 4

print(c/d) #Print the result of a division between a floating-point number and a integer

# Data Collections

## List
A list is an ordered collection of values. A list is mutable, which means you can change a list's value without changing the list itself. Creating a list is simply putting different comma-separated values between square brackets.

In [ ]:
my_list = ['Quant', 'Connect']#, 1,2,3]
print(my_list)

['Quant', 'Connect', 1, 2, 3]

In [ ]:
#Create a list with the string "Papaya", the number 2, the number 3.5 and a false
my_list = ["Papaya",2,3.5,False]
#Print the content of the list my_list
print(my_list)

['Papaya', 2, 3.5, False]

The values in a list are called "elements". We can access list elements by indexing. Python index starts from 0. So if you have a list of length n, the index of the first element will be 0, and that of the last element will be n − 1. By the way, the length of a list can be obtained by the built-in function len().

In [ ]:
my_list = ['Quant', 'Connect', 1,2,3]
print(len(my_list))
print(my_list[0])
print(my_list[len(my_list) -1])

5
Quant
3

In [ ]:
#Create a list with the string "Papaya", the number 2, the number 3.5 and a false
my_list = ["Papaya",2,3.5,False]
#Print the number of elements of the list my_list
print(len(my_list))
#Print the second element of the list_my_list
print(my_list[1])
#Print the last element of the list my_list (Alternative form)
print(my_list[-1])

4
2
False

You can also change the elements in the list by accessing an index and assigning a new value.

In [ ]:
my_list = ['Quant','Connect',1,2,3]
my_list[2] = 'go'
print(my_list)

['Quant', 'Connect', 'go', 2, 3]

In [ ]:
#Create a list with the string "Papaya", the number 2, the number 3.5 and a false
my_list = ["Papaya",2,3.5,False]
#Assign a new value of True to the last item of the list my_list
my_list[-1] = True
#Print the content of the last index of list my_list
print(my_list[-1])

A list can also be sliced with a colon:

In [ ]:
my_list = ['Quant','Connect',1,2,3]
print(my_list[1:3])

['Connect', 1]

In [ ]:
#Create a list with the string "Papaya", the number 2, the number 3.5 and a false
my_list = ["Papaya",2,3.5,False]
#Print the elements of my_list between the first and third element, excluding the third element
print(my_list[0:2])

['Papaya', 2]

The slice starts from the first element indicated, but excludes the last element indicated. Here we select all elements starting from index 1, which refers to the second element:

In [ ]:
print(my_list[1:])

['Connect', 1, 2, 3]

In [ ]:
#Print the elements of my_list between the third and the last element
print(my_list[2:])

[3.5, False]

And all elements up to but excluding index 3:

In [ ]:
print(my_list[:3])

['Quant', 'Connect', 1]

In [ ]:
#Print the elements of my_list between the first and the third element, excluiding the third element
print(my_list[:2])

['Papaya', 2]

If you wish to add or remove an element from a list, you can use the append() and remove() methods for lists as follows:

In [ ]:
my_list = ['Hello', 'Quant']
my_list.append('Hello')
print(my_list)

my_list.remove('Hello')
print(my_list)

['Hello', 'Quant', 'Hello']

In [ ]:
#Create a list with the string "Papaya", the number 2, the number 3.5 and a false
my_list = ["Papaya",2,3.5,False]

#Add number 2.65 to my_list
my_list.append(2.65)
print(my_list) #Print the content of list my_list

#Remove number 2.65 from my_list
my_list.remove(2.65)
print(my_list) #Print the content of list my_list

['Papaya', 2, 3.5, False, 2.65]
['Papaya', 2, 3.5, False]

When there are repeated instances of "Hello", the first one is removed.

## Tuple
A tuple is a data structure type similar to a list. The difference is that a tuple is immutable, which means you can't change the elements in it once it's defined. We create a tuple by putting comma-separated values between parentheses.

In [ ]:
my_tuple = ('Welcome','to','QuantConnect')

In [ ]:
#Create a tuple with the string "Papaya", the number 2, the number 3.5 and a false
tuple_ex = ("Papaya",2,3.5,False)

Just like a list, a tuple can be sliced by using index.

In [ ]:
my_tuple = ('Welcome','to','QuantConnect')
print(my_tuple[1:])

('to', 'QuantConnect')

In [ ]:
#Create a tuple with the string "Papaya", the number 2, the number 3.5 and a false
tuple_ex = ("Papaya",2,3.5,False)
#Print the elements of tuple_ex between the first and third element, excluding the third element
print(tuple_ex[0:2])

('Papaya', 2)

## Set
A set is an **unordered**  collection with **no duplicate** elements. The built-in function **set()** can be used to create sets.

In [ ]:
stock_list = ['AAPL','GOOG','IBM','AAPL','IBM','FB','F','GOOG']
stock_set = set(stock_list)
print(stock_set)

{'FB', 'IBM', 'AAPL', 'GOOG', 'F'}

In [ ]:
#Create a list with the string "Papaya", the number 2, the number 3.5 and a false
list_ex = ("Papaya",2,3.5,False)
#Make a type cast from the list list_ex to set and store it the variable set_ex
set_ex = set(list_ex)
#Print the content of the set set_ex
print(set_ex)

{False, 'Papaya', 2, 3.5}

Set is an easy way to remove duplicate elements from a list.


##Dictionary
A dictionary is one of the most important data structures in Python. Unlike sequences which are indexed by integers, dictionaries are indexed by keys which can be either strings or floats.

A dictionary is an **unordered** collection of key : value pairs, with the requirement that the keys are unique. We create a dictionary by placing a comma-separated list of key : value pairs within the braces.

In [ ]:
my_dic = {'AAPL':'AAPLE', 'FB':'FaceBook', 'GOOG':'Alphabet'}
print(my_dic['GOOG'])

Alphabet

In [ ]:
#Store in the variable dict_ex a dictionary with the keys
#Juana,Pepe,Humberto and its respective values 50,40,30 and 25
dict_ex = {"Juana":50,"Pepe":40,"Humberto":30,"Marta":25}

After defining a dictionary, we can access any value by indicating its key in brackets.

In [ ]:
my_dic['GOOG'] = 'Alphabet Company'
print(my_dic['GOOG'])

Alphabet Company

In [ ]:
#Modify the value associated with the key "Pepe" in the dictionary dict_ex
dict_ex["Pepe"] = 20
#Print the value associated with the key "Pepe" in the dictionary dict_ex
print(dict_ex["Pepe"])

We can also change the value associated with a specified key:

In [ ]:
print(my_dic.keys())

dict_keys(['AAPL', 'FB', 'GOOG'])

In [ ]:
#Print all the keys of the dictionary dict_ex
print(f'Las llaves del diccionario son: {list(dict_ex.keys())}')
#Print all the values of the dictionary dict_ex
print(f'Los valores contenidos en el diccionario son: {list(dict_ex.values())}')

Las llaves del diccionario son: ['Juana', 'Pepe', 'Humberto', 'Marta']
Los valores contenidos en el diccionario son: [50, 40, 30, 25]

The built-in method of the dictionary object dict.keys() returns a list of all the keys used in the dictionary.

# Common String Operations
A string is an immutable sequence of characters. It can be sliced by index just like a tuple:

In [ ]:
my_str = 'Welcome to QuantConnect'
print(my_str[8:])

to QuantConnect

In [ ]:
str_ex = "Diego Camilo Talero Osorio" #Store a string in the variable str_ex
print(str_ex[2:7]) #Print the string between the third and eight character, excluiding the eight character

ego C

There are many methods associated with strings. We can use string.count() to count the occurrences of a character in a string, use string.find() to return the index of a specific character, and use string.replace() to replace characters

In [ ]:
print('Counting the number of e appears in this sentence'.count('e'))
print('The first time e appears in this sentence'.find('e'))
print('all the a in this sentence now becomes e'.replace('a','e'))

7
2
ell the e in this sentence now becomes e

In [ ]:
#Store a string in the variable str_ex
str_ex = "Diego Camilo Talero Osorio"
#Print the number of times that character 'a' appears in string str_ex
print(f'La letra a aparece {str_ex.count("a")} veces')
#Print the index where character 'a' appears for first time
print(f'El índice en que la letra a aparece por primera vez es: {str_ex.find("a")}')
#Print the result of replacing the character 'a' by the character 'i' in the string str_ex
print(f'Si reemplazamos la letra a por la i obtenemos: {str_ex.replace("a","i")}')

La letra a aparece 2 veces
El índice en que la letra a aparece por primera vez es: 7
Si reemplazamos la letra a por la i obtenemos: Diego Cimilo Tilero Osorio

The most commonly used method for strings is string.split(). This method will split the string by the indicated character and return a list:

In [ ]:
Time = '2016-04-01 09:43:00'
splited_list = Time.split(' ')
date = splited_list[0]
time = splited_list[1]
print(date, time)
hour = time.split(':')[0]
print(hour)

2016-04-01 09:43:00
09

In [ ]:
#Store a string in the variable Datos
Datos = "Pepe,Maria,Juan,Camilo;50,20,10,15"
#Separate the string of the variable Datos with the character ';' and return the parts of the separated string in a list
Datos = Datos.split(";")
#Separate the string of the first element of the list Datos with the character ',' and return the parts of the separated string in a list
estudiantes = Datos[0].split(",")
#Separate the string of the second element of the list Datos with the character ',' and return the parts of the separated string in a list
notas = Datos[1].split(",")

print(f"Las notas de {estudiantes} son {notas}")

Las notas de ['Pepe', 'Maria', 'Juan', 'Camilo'] son ['50', '20', '10', '15']

We can replace parts of a string by our variable. This is called string formatting.

In [ ]:
my_time = 'Hour: {}, Minute:{}'.format('09','43')
print(my_time)

Hour: 09, Minute:43

In [ ]:
#.format(var1,...,varn) method replaces {} in a String with the content of var1,...,varn respectively
print("Las notas de {} son {}".format(estudiantes,notas)) #Print a formatted string

Las notas de ['Pepe', 'Maria', 'Juan', 'Camilo'] son ['50', '20', '10', '15']

Another way to format a string is to use the % symbol.

In [ ]:
print('the pi number is %f'%3.14)
print('%s to %s'%('Welcome','Quantconnect'))

the pi number is 3.140000
Welcome to Quantconnect

In [ ]:
#Store a tuple with the elements "Mario" and 50 in the variable persona
persona = ("Mario",50,100.50)
#Print a string formatted with the content of the tupple persona
#%s is replaced with a string, %i is replaced with a integer and %f is replaced with a float
print("La edad de %s es %i y su saldo es USD %f"%persona)

La edad de Mario es 50 y su saldo es USD 100.500000

# Summary

Weave seen the basic data types and data structures in Python. It's important to keep practicing to become familiar with these data structures. In the next tutorial, we will cover for and while loops and logical operations in Python.

<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png">

Quantconnect

Introduction to Financial Python
</div>

# 02 Logical Operations and Loops

# Introduction
We discussed the basic data types and data structures in Python in the last tutorial. This chapter covers logical operations and loops in Python, which are very common in programming.

# Logical Operations
Like most programming languages, Python has comparison operators:

In [ ]:
print(1 == 0)
print(1 == 1)
print(1 != 0)
print(5 >= 5)
print(5 >= 6)

False
True
True
True
False

In [ ]:
a = "Pepe"
b = "Papa"
#Operator == compares two elements, if they are the same returns true, else returns false
print(a == b)
#Operator != compares two elements, if they are the same returns false, else returns true
print(a != b)
#Operator > compares two elements, if the element before the operator is greater than the element after the operator returns true, else returns false
#In the case of numbers, the operator uses the usual order of the real numbers, in the case of strings uses the lexicographical order
print(a > b)
#Operator <= compares two elements, if the element before the operator is smaller or equal than the element after the operator returns true, else returns false
#In the case of numbers, the operator uses the usual order of the real numbers, in the case of strings uses the lexicographical order
print(a <= b)

False
True
True
False

Each statement above has a boolean value, which must be either True or False, but not both.

We can combine simple statements P and Q to form complex statements using logical operators:

- The statement "P and Q" is true if both P and Q are true, otherwise it is false.
- The statement "P or Q" is false if both P and Q are false, otherwise it is true.
- The statement "not P" is true if P is false, and vice versa.

In [ ]:
print(2 > 1 and 3 > 2)
print(2 > 1 and 3 < 2) 
print(2 > 1 or 3 < 2)
print(2 < 1 and 3 < 2)

True
False
True
False

In [ ]:
p = 25.5 > 20
q = "Gato" < "Abaco"

#Print the result of the logical operator AND beween p and q
print(p and q)
#Print the result of of the logical operator OR beween p and q
print(p or q)
#Print the result of the logical operator between NOT p and q
print(not p and q)

False
True
False

When dealing with a very complex logical statement that involves in several statements, we can use brackets to separate and combine them.

In [ ]:
print((3 > 2 or 1 < 3) and (1!=3 and 4>3) and not ( 3 < 2 or 1 < 3 and (1!=3 and 4>3)))
print(3 > 2 or 1 < 3 and (1!=3 and 4>3) and not ( 3 < 2 or 1 < 3 and (1!=3 and 4>3)))

False
True

In [ ]:
p = 25.5 > 20 #Store in the variable p if 25.5 is greater than 20
q = "Gato" < "Abaco" #Store in the variable q if Gato is smaller than Abaco in lexic. order
r = "Escalera" >= "Abaco" #Store in the variable r if Escalera is greater or equal than Abaco in lexic. order

print((not(p and q)) or (r or (not p))) #Print the result of -(p∧q)v(rv-p)

True

Comparing the above two statements, we can see that it's wise to use brackets when we make a complex logical statement.

# If Statement
An if statement executes a segment of code only if its condition is true. A standard if statement consists of 3 segments: if, elif and else.

```python
if statement1:
    # if the statement1 is true, execute the code here.
    # code.....
    # code.....
elif statement2:
    # if the statement 1 is false, skip the codes above to this part.
    # code......
    # code......
else:
    # if none of the above statements is True, skip to this part
    # code......
```

An if statement doesn't necessarily has elif and else part. If it's not specified, the indented block of code will be executed when the condition is true, otherwise the whole if statement will be skipped.

In [ ]:
i = 0
if i == 0:
    print('i==0 is True')

i==0 is True

In [ ]:
#If 2 is less than 3 then print "2 es menor que 3"
if 2 < 3: 
  print("2 es menor que 3")

2 es menor que 3

As we mentioned above, we can write some complex statements here:

In [ ]:
p = 1 > 0
q = 2 > 3
if p and q:
    print('p and q is true')
elif p and not q:
    print('q is false')
elif q and not p:
    print('p is false')
else:
    print('None of p and q is true')

q is false

In [ ]:
p = 25.5 > 20 #Store in the variable p if 25.5 is greater than 20
q = "Gato" < "Abaco" #Store in the variable q if Gato is smaller than Abaco in lexic. order

if not p or q: #If the logical stament not p or q is true then executes the line of code idented after the if
    print('25.5 no es más grande que 20 o Gato es menor que Abaco')
elif p or not q: #If the last logical statement was false, but the logical stament p or not q is true, then executes the line of code idented after the elif
    print('25.5 es más grande que 20 o Gato es mayor o igual que Abaco')
else: #If none of the logical statements where true, then executes the line of code idented after the else
    print('No hay una posible conclusión')

25.5 es más grande que 20 o Gato es mayor o igual que Abaco

# Loop Structure
Loops are an essential part of programming. The "for" and "while" loops run a block of code repeatedly.

## While Loop
A "while" loop will run repeatedly until a certain condition has been met.

In [ ]:
i = 0
while i < 5:
    print(i)
    i += 1

0
1
2
3
4

In [ ]:
j = 90
while j > 0: #While j is greater than 0 executes the code block idented
  print(j) #Print the content of the variable j
  j -= 2   #Take j=j-2

90
88
86
84
82
80
78
76
74
72
70
68
66
64
62
60
58
56
54
52
50
48
46
44
42
40
38
36
34
32
30
28
26
24
22
20
18
16
14
12
10
8
6
4
2

When making a while loop, we need to ensure that something changes from iteration to iteration so that the while loop will terminate, otherwise, it will run forever. Here we used i += 1 (short for i = i + 1) to make i larger after each iteration. This is the most commonly used method to control a while loop.

## For Loop
A "for" loop will iterate over a sequence of value and terminate when the sequence has ended.

In [ ]:
for i in [1,2,3,4,5]:
    print(i)

1
2
3
4
5

In [ ]:
word = "Hola"
for character in word: #Iterate over the sequence of characters of the string word
  print(character) #Print the character in each of the interations

H
o
l
a

We can also add if statements in a for loop. Here is a real example from our pairs trading algorithm:

In [ ]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
selected = ['AAPL','IBM']
new_list = []
for i in stocks:
    if i not in selected:
        new_list.append(i)
print(stocks)

['AAPL', 'GOOG', 'IBM', 'FB', 'F', 'V', 'G', 'GE']

In [ ]:
word = "Marmolado"
for character in word: #Iterate over the sequence of characters of the string word
  if character == "a": #Evaluate if the actual character is character 'a'
    print(character) #If character meet the condition, then print it

a
a

Here we iterated all the elements in the list 'stocks'. Later in this chapter, we will introduce a smarter way to do this, which is just a one-line code.

## Break and continue
These are two commonly used commands in a for loop. If "break" is triggered while a loop is executing, the loop will terminate immediately:

In [ ]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
for i in stocks:
    print(i)
    if i == 'FB':
        break

AAPL
GOOG
IBM
FB

In [ ]:
word = "Marmolado"
for character in word: #Iterate over the sequence of characters of the string word
  print(character) #Print the character in each of the interations
  if character == "a": #Evaluate if the actual character is character 'a'
    break #If statement is true, then exit from the for loop

The "continue" command tells the loop to end this iteration and skip to the next iteration:

In [ ]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
for i in stocks:
    if i == 'FB':
        continue
    print(i)

AAPL
GOOG
IBM
F
V
G
GE

In [ ]:
word = "Marmolado"
for character in word: #Iterate over the sequence of characters of the string word
  if character == "a": #Evaluate if the actual character is character 'a'
    continue #If statement is true, then jump to the next iteration

  print(character) #Print the character in each of the interations

M
r
m
o
l
d
o

# List Comprehension
List comprehension is a Pythonic way to create lists. Common applications are to make new lists where each element is the result of some operations applied to each member of another sequence. For example, if we want to create a list of squares using for loop:

In [ ]:
squares = []
for i in [1,2,3,4,5]:
    squares.append(i**2)
print(squares)

[1, 4, 9, 16, 25]

**Our example**
We can make a list of the numerical representation of the letters of the word "Marmolado" using a for loop:

In [ ]:
nums = [] #Store a empty list in the variable nums
word = "Marmolado" 
for char in word: #Iterate over the sequence of characters of the string word 
  nums.append(ord(char)) #Append to list nums the numerical ASCII representartion character char
print(nums) #Print the content of the variable nums

[77, 97, 114, 109, 111, 108, 97, 100, 111]

Using list comprehension:

In [ ]:
list = [1,2,3,4,5]
squares = [x**2 for x in list]
print(squares)

[1, 4, 9, 16, 25]

**Our example using list comprenhension:**

In [ ]:
word = "Marmolado" 
#list = [f(element) for element in sequence] In list comprehension we create a list iterating over a sequence and storing in the list the result of f(i) for each i in sequence

#Create a list of ASCII numerical representation of the characters of the variable word
nums = [ord(character) for character in word]
print(nums) #Print the content of the variable nums

[77, 97, 114, 109, 111, 108, 97, 100, 111]

Recall the example above where we used a for loop to select stocks. Here we use list comprehension:

In [ ]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
selected = ['AAPL','IBM']
new_list = [x for x in stocks if x in selected]
print(new_list)

['AAPL', 'IBM']

In [ ]:
word = "Marmolado" 
selected_letters = ["a","o"]
#list = [f(element) for element in sequence] In list comprehension we create a list iterating over a sequence and storing in the list the result of f(i) for each i in sequence
#Create a list of ASCII numerical representation of the characters of the variable word
nums = [ord(character) for character in word if character in selected_letters]
print(nums) #Print the content of the variable nums

[97, 111, 97, 111]

A list comprehension consists of square brackets containing an expression followed by a "for" clause, and possibly "for" or "if" clauses. For example:

In [ ]:
print([(x, y) for x in [1,2,3] for y in [3,1,4] if x != y])
print([str(x)+' vs '+str(y) for x in ['AAPL','GOOG','IBM','FB'] for y in ['F','V','G','GE'] if x!=y])

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]
['AAPL vs F', 'AAPL vs V', 'AAPL vs G', 'AAPL vs GE', 'GOOG vs F', 'GOOG vs V', 'GOOG vs G', 'GOOG vs GE', 'IBM vs F', 'IBM vs V', 'IBM vs G', 'IBM vs GE', 'FB vs F', 'FB vs V', 'FB vs G', 'FB vs GE']

In [ ]:
#Generate a list of tupples with the elements of [500,1056,3000]x[50,600,5000] that satisfy x/y<2
print([(deuda,capacidad_pago) for deuda in [500,1056,3000] for capacidad_pago in [50,600,5000] if deuda/capacidad_pago<2])
#Generate a list of formatted strings with two lists
print([f'{estudiante} debe asistir el {dia} de marzo'for estudiante in ["Pedro","María","Juan"] for dia in [1,2,3] if ord(estudiante[1])%3==dia])

[(500, 600), (500, 5000), (1056, 600), (1056, 5000), (3000, 5000)]
['Pedro debe asistir el 2 de marzo', 'María debe asistir el 1 de marzo']

List comprehension is an elegant way to organize one or more for loops when creating a list.

# Summary
This chapter has introduced logical operations, loops, and list comprehension. In the next chapter, we will introduce functions and object-oriented programming, which will enable us to make our codes clean and versatile.

<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png">

Quantconnect

Introduction to Financial Python
</div>

# 03 Functions and Objective-Oriented Programming

# Introduction

In the last tutorial we introduced logical operations, loops and list comprehension. We will introduce functions and object-oriented programming in this chapter, which will enable us to build complex algorithms in more flexible ways.

# Functions
A function is a reusable block of code. We can use a function to output a value, or do anything else we want. We can easily define our own function by using the keyword "def".

In [ ]:
def product(x,y):
    return x*y
print(product(2,3))
print(product(5,10))

6
50

In [ ]:
#Define a function that accepts two arguments x and y, and returns x+y
def sum(x,y):
  return x+y

print(sum(4,5)) #Print 4+5
print(sum(8,2)) #Print 8+2

9
10

The keyword "def" is followed by the function name and the parenthesized list of formal parameters. The statements that form the body of the function start at the next line, and must be indented. The product() function above has "x" and "y" as its parameters. A function doesn't necessarily have parameters:

In [ ]:
def say_hi():
    print('Welcome to QuantConnect')
say_hi()

Welcome to QuantConnect

In [ ]:
#Define a function without parameters called say_pi, that print "The value of pi is aprox 3.14"
def say_pi():
  print("The value of pi is aprox 3.141516")

say_pi() #Call function say_pi

The value of pi is aprox 3.141516

# Built-in Function
**range()** is a function that creates a list containing an arithmetic sequence. It's often used in for loops. The arguments must be integers. If the "step" argument is omitted, it defaults to 1.

In [ ]:
print(range(10))
print(range(1,11))
print(range(1,11,2))

range(0, 10)
range(1, 11)
range(1, 11, 2)

In [ ]:
#range(a,b,c)=[a+b,a+2b,...+a+nb] until a+nb<c,range(a)=range(0,a,1) and range (a,b)=range(a,b,1)

print(f'{range(4)} is {list(range(4))}') #Print a range/arithmetic sequence from 0 to 4, excluiding 4
print(f'{range(2,5)} is {list(range(2,5))}') #Print a range/arithmetic sequence from 2 to 5, excluiding 5
print(f'{range(0,10,3)} is {list(range(0,10,3))}') #Print a range/arithmetic sequence from 0 to 10 with step=3, excluiding 10 if included

range(0, 4) is [0, 1, 2, 3]
range(2, 5) is [2, 3, 4]
range(0, 10, 3) is [0, 3, 6, 9]

**len()** is another function used together with range() to create a for loop. This function returns the length of an object. The argument must be a sequence or a collection.

In [ ]:
tickers = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
print('The length of tickers is {}'.format(len(tickers)))
for i in range(len(tickers)):
    print(tickers[i])

The length of tickers is 8
AAPL
GOOG
IBM
FB
F
V
G
GE

In [ ]:
word = "Marmolado"
print(f"The word {word} is composed of {len(word)} letters") #Print the number of letters of the string word
#Iterate with i over a range from 0 to the lenght of the word and print the i-th character of the word in each iteration
for i in range(len(word)):
  print(word[i])

The word Marmolado is composed of 9 letters
M
a
r
m
o
l
a
d
o

Note: If you want to print only the tickers without those numbers, then simply write "for ticker in tickers: print ticker"

**map(**) is a function that applies a specific function to every item of a sequence or collection, and returns a list of the results.

Because list at the moment is [1,2,3,4,5] and overwriting list() from builtins we del list

In [ ]:
print(list)
del list
list

[1, 2, 3, 4, 5]

list

In [ ]:
tuple = (1,2) #Define a tuple of elements 1 and 2
print(tuple) #Print the elements of the tuple
del tuple #Delete the content of the variable tuple
tuple #Return the conten of the vatiable tuple

(1, 2)

tuple

In [ ]:
tickers = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
list(map(len,tickers))

[4, 4, 3, 2, 1, 1, 1, 2]

In [ ]:
word = "Marmolado"
#Return the ASCII code of each character of string word
#ord(f,s) applies function f to all elements of sequence s
list(map(ord,word))

[77, 97, 114, 109, 111, 108, 97, 100, 111]

The **lambda operator** is a way to create small anonymous functions. These functions are just needed where they have been created. For example:

In [ ]:
list(map(lambda x: x**2, range(10)))

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
#Create a List with the strings "María","Pepe" and "Juan"
my_list = ["María","Pepe","Juan"]
#Creates an anonymous function with argument x called f that returns the concatenation of "Hola " and string x
f = lambda x:"Hola "+x
#Print the list result of applicate function f to all the elements of my_list
list(map(f,my_list))

['Hola María', 'Hola Pepe', 'Hola Juan']

map() can be applied to more than one list. The lists have to have the same length.

In [ ]:
list(map(lambda x, y: x+y, [1,2,3,4,5],[5,4,3,2,1]))

[6, 6, 6, 6, 6]

In [ ]:
list_a = ["Buenos días ","Buenas noches ","Buenas tardes "]
list_b = ["María","Pepe","Juan"]
#Create a list of the elements result of concatenate the elements of list_a and list_b, pair to pair
list(map(lambda x, y: x+y, list_a,list_b))

['Buenos días María', 'Buenas noches Pepe', 'Buenas tardes Juan']

**sorted()** takes a list or set and returns a new sorted list

In [ ]:
sorted([5,2,3,4,1])

[1, 2, 3, 4, 5]

In [ ]:
list_ex = ["María","Pepe","Juan"]
print(sorted(list_ex)) #Return list_ex sorted by lexicographical order

['Juan', 'María', 'Pepe']

We can add a "key" parameter to specify a function to be called on each list element prior to making comparisons. For example:

In [ ]:
price_list = [('AAPL',144.09),('GOOG',911.71),('MSFT',69),('FB',150),('WMT',75.32)]
sorted(price_list, key = lambda x: x[1])

[('MSFT', 69), ('WMT', 75.32), ('AAPL', 144.09), ('FB', 150), ('GOOG', 911.71)]

In [ ]:
#Crete a list with 3 tuples as elements
lista_estudiantes = [(50,"Maria"),(30,"Pepe"),(45,"Juan")]
#Create an anonymous function called return_id that returns the first element of a sequence
return_id = lambda x: x[0]
#Sort lista_estudiantes by ascending order of the result of applicate function return_id to the element of the list
sorted(lista_estudiantes,key=return_id)

[(30, 'Pepe'), (45, 'Juan'), (50, 'Maria')]

By default the values are sorted by ascending order. We can change it to descending by adding an optional parameter "reverse'.

In [ ]:
price_list = [('AAPL',144.09),('GOOG',911.71),('MSFT',69),('FB',150),('WMT',75.32)]
sorted(price_list, key = lambda x: x[1],reverse = True)

[('GOOG', 911.71), ('FB', 150), ('AAPL', 144.09), ('WMT', 75.32), ('MSFT', 69)]

In [ ]:
#Crete a list with 3 tuples as elements
lista_estudiantes = [(50,"Maria"),(30,"Pepe"),(45,"Juan")]
#Create an anonymous function called return_id that returns the first element of a sequence
return_id = lambda x: x[0]
#Sort lista_estudiantes by decreasing order of the result of applicate function return_id to the element of the list
sorted(lista_estudiantes,key=return_id,reverse=True)

[(50, 'Maria'), (45, 'Juan'), (30, 'Pepe')]

Lists also have a function list.sort(). This function takes the same "key" and "reverse" arguments as sorted(), but it doesn't return a new list.

In [ ]:
price_list = [('AAPL',144.09),('GOOG',911.71),('MSFT',69),('FB',150),('WMT',75.32)]
price_list.sort(key = lambda x: x[1])
print(price_list)

[('MSFT', 69), ('WMT', 75.32), ('AAPL', 144.09), ('FB', 150), ('GOOG', 911.71)]

In [ ]:
#Crete a list with 3 tuples as elements
lista_estudiantes = [(50,"Maria"),(30,"Pepe"),(45,"Juan")]
#Create an anonymous function called return_id that returns the first element of a sequence
return_id = lambda x: x[0]
#Sort lista_estudiantes by decreasing order of the result of applicate function return_id to the element of the list
lista_estudiantes.sort(key=return_id,reverse=True)
#Print the content of lista_estudiantes
print(lista_estudiantes)

[(50, 'Maria'), (45, 'Juan'), (30, 'Pepe')]

# Object-Oriented Programming
Python is an object-oriented programming language. It's important to understand the concept of "objects" because almost every kind of data from QuantConnect API is an object.

## Class
A class is a type of data, just like a string, float, or list. When we create an object of that data type, we call it an instance of a class.

In Python, everything is an object - everything is an instance of some class. The data stored inside an object are called attributes, and the functions which are associated with the object are called methods.

For example, as mentioned above, a list is an object of the "list" class, and it has a method list.sort().

We can create our own objects by defining a class. We would do this when it's helpful to group certain functions together. For example, we define a class named "Stock" here:

In [ ]:
class stock:
    def __init__(self, ticker, open, close, volume):
        self.ticker = ticker
        self.open = open
        self.close = close
        self.volume = volume
        self.rate_return = float(close)/open - 1
 
    def update(self, open, close):
        self.open = open
        self.close = close
        self.rate_return = float(self.close)/self.open - 1
 
    def print_return(self):
        print(self.rate_return)

In [ ]:
class Perro:
  #Define a builder function of class Perro with the arguments nombre and vacunas
  def __init__(self,nombre,vacunas):
    self.nombre = nombre #Assign to the attribute nombre of class Perro the variable nombre
    self.vacunas = vacunas #Assign to the attribute nombre of class Perro the variable vacunas

  #Define a method of class Perro called actualizar_vacunacion that receives a string nueva_vacuna as argument
  def actualizar_vacunacion(self,nueva_vacuna):
    self.vacunas.append(nueva_vacuna)

  #Define a method of class Perro called imprimir_vacunas that prints the content of the attribute vacunas
  def imprimir_vacunas(self):
    print(f'Sus vacunas son {self.vacunas}')

The "Stock" class has attributes "ticker", "open", "close", "volume" and "rate_return". Inside the class body, the first method is called __init__, which is a special method. When we create a new instance of the class, the __init__ method is immediately executed with all the parameters that we pass to the "Stock" object. The purpose of this method is to set up a new "Stock" object using data we have provided.

Here we create two Stock objects named "apple" and "google".

In [ ]:
apple = stock('AAPL', 143.69, 144.09, 20109375)
google = stock('GOOG', 898.7, 911.7, 1561616)

In [ ]:
pepe = Perro("Pepe",["Rabia","Moquillo"]) #Create a instance of the class Perro
jaime = Perro("Jaime",[]) #Create a instance of the class Perro

Stock objects also have two other methods: update() and print_return(). We can access the attribues of a Stock object and call its methods:

In [ ]:
apple.ticker
google.print_return()
google.update(912.8,913.4)
google.print_return()

0.014465338822744034
0.0006573181419806673

In [ ]:
jaime.imprimir_vacunas() #Call method imprimir_vacunas from object jaime of class Perro, that prints the content of jaime.vacunas
jaime.actualizar_vacunacion("Parvovirosis") #Call method actualizar_vacunas from object jaime of class Perro, add 'Parvovirosis' to the list jaime.vacunas
jaime.imprimir_vacunas() #Call method imprimir_vacunas from object jaime of class Perro, that prints the content of jaime.vacunas

Sus vacunas son []
Sus vacunas son ['Parvovirosis']

By calling the update() function, we updated the open and close prices of a stock. Please note that when we use the attributes or call the methods **inside a class**, we need to specify them as self.attribute or self.method(), otherwise Python will deem them as global variables and thus raise an error.

We can add an attribute to an object anywhere:

In [ ]:
apple.ceo = 'Tim Cook'
apple.ceo

'Tim Cook'

In [ ]:
jaime.direccion = "CL 57 # 67-19" #Set attribute direccion of object Jaime as string "CL 57 # 67-19"
print(jaime.direccion) #Print the content of the attribute direccion of object jaime

CL 57 # 67-19

We can check what names (i.e. attributes and methods) are defined on an object using the dir() function:

In [ ]:
dir(apple)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'ceo',
 'close',
 'open',
 'print_return',
 'rate_return',
 'ticker',
 'update',
 'volume']

In [ ]:
#Return the list of methods and attributes of the object called jaime
dir(jaime)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'actualizar_vacunacion',
 'direccion',
 'imprimir_vacunas',
 'nombre',
 'vacunas']

## Inheritance
Inheritance is a way of arranging classes in a hierarchy from the most general to the most specific. A "child" class is a more specific type of a "parent" class because a child class will inherit all the attribues and methods of its parent. For example, we define a class named "Child" which inherits "Stock":

In [ ]:
class child(stock):
    def __init__(self,name):
        self.name = name

In [ ]:
aa = child('aa')
print(aa.name)
aa.update(100,102)
print(aa.open)
print(aa.close)
print(aa.print_return())

aa
100
102
0.020000000000000018
None

In [ ]:
#Create a new class called Dalmata that inherits from class Perro
class Dalmata(Perro):
  #Define a builder function of class Dalmata with the arguments nombre and vacunas
  def __init__(self,nombre,vacunas):
    self.raza = "Dalmata"  #Assign to the attribute raza of class Dalmata the string "Dalmata"
    super().__init__(nombre,vacunas) #Call the builder of the father class (Class Perro)

  max = Dalmata("Max",["Parvovirosis","Rabia"]) #Crete a new object of class Dalmata
  print(max.nombre) #Print the content of the attribute name of object max of class Dalmata
  max.actualizar_vacunacion("Moquillo") #Call method actualizar_vacunacion with argument nueva_vacuna="Moquillo" from object max
  max.imprimir_vacunas() #Call method imprimir_vacunas from object max

Max
Sus vacunas son ['Parvovirosis', 'Rabia', 'Moquillo']

As seen above, the new class Child has inherited the methods from Stock.

#Summary

In this chapter we have introduced functions and classes. When we write a QuantConnect algorithm, we would define our algorithm as a class (QCAlgorithm). This means our algorithm inherited the QC API methods from QCAlgorithm class.

In the next chapter, we will introduce NumPy and Pandas, which enable us to conduct scientific calculations in Python.

<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png">

Quantconnect

Introduction to Financial Python
</div>

# 04 NumPy and Basic Pandas

# Introduction

Now that we have introduced the fundamentals of Python, it's time to learn about NumPy and Pandas.

# NumPy
NumPy is the core library for scientific computing in Python. It provides a high-performance multidimensional array object, and tools for working with these arrays. It also has strong integration with Pandas, which is another powerful tool for manipulating financial data.

Python packages like NumPy and Pandas contain classes and methods which we can use by importing the package:

In [ ]:
import numpy as np

In [ ]:
import numpy as np #Import numpy library using the name np

## Basic NumPy Arrays
A NumPy array is a grid of values, all of the same type, and is indexed by a tuple of nonnegative integers. Here we make an array by passing a list of Apple stock prices:

In [ ]:
price_list = [143.73, 145.83, 143.68, 144.02, 143.5, 142.62]
price_array = np.array(price_list)
print(price_array, type(price_array))

[143.73 145.83 143.68 144.02 143.5  142.62] <class 'numpy.ndarray'>

In [ ]:
notas = [3.5,1.0,0.5,7.8,3.0] #Create a list with elements 3.5,1.0,0.5,7.8,3.0
notas = np.array(notas) #Make a type cast of notas from list type to numpy array type
print(f"{notas} de tipo {type(notas)}") #Print the content of the variable notas and its class

[3.5 1.  0.5 7.8 3. ] de tipo <class 'numpy.ndarray'>

Notice that the type of array is "ndarray" which is a multi-dimensional array. If we pass np.array() a list of lists, it will create a 2-dimensional array.

In [ ]:
Ar = np.array([[1,3],[2,4]])
print(Ar, type(Ar))

[[1 3]
 [2 4]] <class 'numpy.ndarray'>

In [ ]:
notas_bid = [[1,3.5],[2,1.0],[3,0.5],[4,7.8],[5,3.0]] #Create a list of lists
notas_bid = np.array(notas_bid) #Make a type cast of notas_bid from a list of lists to numpy array
print(f"{notas_bid} de tipo {type(notas_bid)}") #Print the content of the variable notas_bid and its class

[[1.  3.5]
 [2.  1. ]
 [3.  0.5]
 [4.  7.8]
 [5.  3. ]] de tipo <class 'numpy.ndarray'>

We get the dimensions of an ndarray using the .shape attribute:

In [ ]:
print(Ar.shape)

(2, 2)

In [ ]:
print(notas_bid.shape) #Print attribute shape of notas_bid that contains the size of notas_bid

(5,)

If we create an 2-dimensional array (i.e. matrix), each row can be accessed by index:

In [ ]:
print(Ar[0])
print(Ar[1])

[1 3]
[2 4]

In [ ]:
print(notas_bid[2]) #Print the third row of notas_bid
print(notas_bid[3]) #Print the fourth row of notas_bid

[3.  0.5]
[4.  7.8]

If we want to access the matrix by column instead:

In [ ]:
print('the first column: ', Ar[:,0])
print('the second column: ', Ar[:,1])

the first column:  [1 2]
the second column:  [3 4]

In [ ]:
print(f'La primera columnna', notas_bid[:,0]) #Print the first row of notas_bid
print(f'La primera columnna', notas_bid[:,1]) #Print the second row of notas_bid

La primera columnna [1. 2. 3. 4. 5.]
La primera columnna [3.5 1.  0.5 7.8 3. ]

## Array Functions
Some functions built in NumPy that allow us to perform calculations on arrays. For example, we can apply the natural logarithm to each element of an array:

In [ ]:
print(np.log(price_array))

[4.96793654 4.98244156 4.9675886  4.96995218 4.96633504 4.96018375]

In [ ]:
#Print a Numpy Array that contains the result of applying ln(x) to all the elements of the numpy array notas
print(np.log(notas))

[ 1.25276297  0.         -0.69314718  2.05412373  1.09861229]

Other functions return a single value:

In [ ]:
print(np.mean(price_array))
print(np.std(price_array))
print(np.sum(price_array))
print(np.max(price_array))

143.89666666666668
0.9673790478515796
863.38
145.83

In [ ]:
print(np.mean(notas)) #A.mean() return (a_1+a_2+...+a_n)/n
print(np.std(notas)) #Return standard deviation of the elements of array notas
print(np.sum(notas)) #A.sum return a_1+a_2+...+a_n
print(np.max(notas)) #Return the largest element in array notas

3.16
2.5850338489079787
15.8
7.8

The functions above return the mean, standard deviation, total and maximum value of an array.

# Pandas
Pandas is one of the most powerful tools for dealing with financial data. 

First we need to import Pandas:

In [ ]:
import pandas as pd

In [ ]:
import pandas as pd #Import Pandas library with the name 'pd'

## Series
Series is a one-dimensional labeled array capable of holding any data type (integers, strings, float, Python object, etc.)

We create a Series by calling pd.Series(data), where data can be a dictionary, an array or just a scalar value.

In [ ]:
price = [143.73, 145.83, 143.68, 144.02, 143.5, 142.62]
s = pd.Series(price)

0    143.73
1    145.83
2    143.68
3    144.02
4    143.50
5    142.62
dtype: float64

In [ ]:
notas = [3.5,1.0,0.5,7.8,3.0,4.5] #Create a list with elements 3.5,1.0,0.5,7.8,3.0
notas_s = pd.Series(notas) #Make a type cast of notas from list type to Pandas Series
notas_s

0    3.5
1    1.0
2    0.5
3    7.8
4    3.0
5    4.5
dtype: float64

We can customize the indices of a new Series:

In [ ]:
s = pd.Series(price,index = ['a','b','c','d','e','f'])
s

a    143.73
b    145.83
c    143.68
d    144.02
e    143.50
f    142.62
dtype: float64

In [ ]:
n = pd.Series(notas,index=['A','B','C','D','E','F']) #Change rows labels to A,B,C,D,E,F
n

A    3.5
B    1.0
C    0.5
D    7.8
E    3.0
F    4.5
dtype: float64

Or we can change the indices of an existing Series:

In [ ]:
s.index = [6,5,4,3,2,1]
s

6    143.73
5    145.83
4    143.68
3    144.02
2    143.50
1    142.62
dtype: float64

In [ ]:
n.index = [1,2,3,4,5,6] #Change rows labels to 1,2,3,4,5,6
n

1    3.5
2    1.0
3    0.5
4    7.8
5    3.0
6    4.5
dtype: float64

Series is like a list since it can be sliced by index:

In [ ]:
print(s[1:])
print(s[:-2])

5    145.83
4    143.68
3    144.02
2    143.50
1    142.62
dtype: float64
6    143.73
5    145.83
4    143.68
3    144.02
dtype: float64

In [ ]:
print(n[2:]) #Print all the rows of pandas series n from the second row until the last row
print(n[:-1]) #Print all the rows of pandas series n from the first row until the penultimate row

3    0.5
4    7.8
5    3.0
6    4.5
dtype: float64
1    3.5
2    1.0
3    0.5
4    7.8
5    3.0
dtype: float64

Series is also like a dictionary whose values can be set or fetched by index label:

In [ ]:
print(s[4])
s[4] = 0
print(s)

143.68
6    143.73
5    145.83
4      0.00
3    144.02
2    143.50
1    142.62
dtype: float64

In [ ]:
print(n[3]) #Print the element of the fourth row of the Pandas Series n
n[3] = 2.3 #Set the value of the element of the fourth row of the Pandas Series n to 2.3
print(n) #Print the content of the variable n

0.5
1    3.5
2    1.0
3    2.3
4    7.8
5    3.0
6    4.5
dtype: float64

Series can also have a name attribute, which will be used when we make up a Pandas DataFrame using several series.

In [ ]:
s = pd.Series(price, name = 'Apple Price List')
print(s)
print(s.name)

0    143.73
1    145.83
2    143.68
3    144.02
4    143.50
5    142.62
Name: Apple Price List, dtype: float64
Apple Price List

In [ ]:
n = pd.Series(notas,name="Notas") #Make a type cast of notas from array to pandas Series and set Attribute name as "Notas"
print(n)
print(n.name) #Print the content of the atributte name of n

0    3.5
1    1.0
2    0.5
3    7.8
4    3.0
5    4.5
Name: Notas, dtype: float64
Notas

We can get the statistical summaries of a Series:

In [ ]:
print(s.describe())

count      6.000000
mean     143.896667
std        1.059711
min      142.620000
25%      143.545000
50%      143.705000
75%      143.947500
max      145.830000
Name: Apple Price List, dtype: float64

In [ ]:
print(n.describe()) #Get the stadistical summaries of Pandas Series n

count    6.000000
mean     3.383333
std      2.642284
min      0.500000
25%      1.500000
50%      3.250000
75%      4.250000
max      7.800000
Name: Notas, dtype: float64

## Time Index
Pandas has a built-in function specifically for creating date indices: pd.date_range(). We use it to create a new index for our Series:

In [ ]:
time_index = pd.date_range('2017-01-01',periods = len(s),freq = 'D')
print(time_index)
s.index = time_index
print(s)

DatetimeIndex(['2017-01-01', '2017-01-02', '2017-01-03', '2017-01-04',
               '2017-01-05', '2017-01-06'],
              dtype='datetime64[ns]', freq='D')
2017-01-01    143.73
2017-01-02    145.83
2017-01-03    143.68
2017-01-04    144.02
2017-01-05    143.50
2017-01-06    142.62
Freq: D, Name: Apple Price List, dtype: float64

In [ ]:
#Create a sequence of the same size of n with dates starting in 2022-03-15 with diary frequency
time_index = pd.date_range('2022-03-15',periods = len(n),freq = 'D')
print(time_index)
n.index = time_index #Set the labels of the rows of n as the content of the variable time_index
print(n)

DatetimeIndex(['2022-03-15', '2022-03-16', '2022-03-17', '2022-03-18',
               '2022-03-19', '2022-03-20'],
              dtype='datetime64[ns]', freq='D')
2022-03-15    3.5
2022-03-16    1.0
2022-03-17    0.5
2022-03-18    7.8
2022-03-19    3.0
2022-03-20    4.5
Freq: D, Name: Notas, dtype: float64

Series are usually accessed using the iloc[] and loc[] methods. iloc[] is used to access elements by integer index, and loc[] is used to access the index of the series.

iloc[] is necessary when the index of a series are integers, take our previous defined series as example:

In [ ]:
s.index = [6,5,4,3,2,1]
print(s)
print(s[1])

6    143.73
5    145.83
4    143.68
3    144.02
2    143.50
1    142.62
Name: Apple Price List, dtype: float64
142.62

In [ ]:
n.index = [6,5,4,3,2,1] #Set labels of rows of Pandas Series n as 6,5,4,2,1
print(n)
print(n[2]) #Print the element of the third row of Pandas Series n

6    3.5
5    1.0
4    0.5
3    7.8
2    3.0
1    4.5
Name: Notas, dtype: float64
3.0

If we intended to take the second element of the series, we would make a mistake here, because the index are integers. In order to access to the element we want, we use iloc[] here:

In [ ]:
print(s.iloc[1])

145.83

In [ ]:
print(n.iloc[2]) #Get the third element of the Pandas Series n

0.5

While working with time series data, we often use time as the index. Pandas provides us with various methods to access the data by time index

In [ ]:
s.index = time_index
print(s['2017-01-03'])

143.68

In [ ]:
n.index = time_index #Set labels of rows with the content of time_index
print(n['2022-03-15']) #Print the row with index 2022-03-15

3.5

We can even access to a range of dates:

In [ ]:
print(s['2017-01-02':'2017-01-05'])

2017-01-02    145.83
2017-01-03    143.68
2017-01-04    144.02
2017-01-05    143.50
Freq: D, Name: Apple Price List, dtype: float64

In [ ]:
print(n['2022-03-15':'2017-03-17']) #Print rows from date 2022-03-15 until 2017-03-17

Series([], Freq: D, Name: Notas, dtype: float64)

Series[] provides us a very flexible way to index data. We can add any condition in the square brackets:

In [ ]:
print(s[s < np.mean(s)] )
print([(s > np.mean(s)) & (s < np.mean(s) + 1.64*np.std(s))])

2017-01-01    143.73
2017-01-03    143.68
2017-01-05    143.50
2017-01-06    142.62
Name: Apple Price List, dtype: float64
[2017-01-01    False
2017-01-02    False
2017-01-03    False
2017-01-04     True
2017-01-05    False
2017-01-06    False
Freq: D, Name: Apple Price List, dtype: bool]

In [ ]:
print(n[n>np.mean(n)+np.std(n)]) #Print rows greater than the mean plus one standar desviation

2022-03-18    7.8
Freq: D, Name: Notas, dtype: float64

As demonstrated, we can use logical operators like & (and), | (or) and ~ (not) to group multiple conditions.

# Summary
Here we have introduced NumPy and Pandas for scientific computing in Python. In the next chapter, we will dive into Pandas to learn resampling and manipulating Pandas DataFrame, which are commonly used in financial data analysis.

<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png"> <img style="display: block; margin: auto;" alt="photo" src="https://www.marketing-branding.com/wp-content/uploads/2020/07/google-colaboratory-colab-guia-completa.jpg " width="50" height="50">
<img style="display: block; margin: auto;" alt="photo" src="https://upload.wikimedia.org/wikipedia/commons/d/da/Yahoo_Finance_Logo_2019.svg" width="50" height="50">  

Quantconnect -> Google Colab with Yahoo Finance data

Introduction to Financial Python
</div>

# 05 Pandas-Resampling and DataFrame

# Introduction
In the last chapter we had a glimpse of Pandas. In this chapter we will learn about resampling methods and the DataFrame object, which is a powerful tool for financial data analysis.

# Fetching Data
Here we use the Yahoo Finance to retrieve data.

In [ ]:
!pip install yfinance

In [ ]:
!pip install yfinance #Install module yfinance

In [ ]:
import yfinance as yf 

aapl = yf.Ticker("AAPL")

# get stock info
print(aapl.info)

# get historical market data
aapl_table = aapl.history(start="2016-01-01",  end="2017-12-31")
aapl_table

{'zip': '95014', 'sector': 'Technology', 'fullTimeEmployees': 147000, 'longBusinessSummary': 'Apple Inc. designs, manufactures, and markets smartphones, personal computers, tablets, wearables, and accessories worldwide. It also sells various related services. The company offers iPhone, a line of smartphones; Mac, a line of personal computers; iPad, a line of multi-purpose tablets; and wearables, home, and accessories comprising AirPods, Apple TV, Apple Watch, Beats products, HomePod, iPod touch, and other Apple-branded and third-party accessories. It also provides AppleCare support services; cloud services store services; and operates various platforms, including the App Store, that allow customers to discover and download applications and digital content, such as books, music, video, games, and podcasts. In addition, the company offers various services, such as Apple Arcade, a game subscription service; Apple Music, which offers users a curated listening experience with on-demand radio stations; Apple News+, a subscription news and magazine service; Apple TV+, which offers exclusive original content; Apple Card, a co-branded credit card; and Apple Pay, a cashless payment service, as well as licenses its intellectual property. The company serves consumers, and small and mid-sized businesses; and the education, enterprise, and government markets. It sells and delivers third-party applications for its products through the App Store. The company also sells its products through its retail and online stores, and direct sales force; and third-party cellular network carriers, wholesalers, retailers, and resellers. Apple Inc. was founded in 1977 and is headquartered in Cupertino, California.', 'city': 'Cupertino', 'phone': '408-996-1010', 'state': 'CA', 'country': 'United States', 'companyOfficers': [], 'website': 'http://www.apple.com', 'maxAge': 1, 'address1': 'One Apple Park Way', 'industry': 'Consumer Electronics', 'ebitdaMargins': 0.31955, 'profitMargins': 0.25004, 'grossMargins': 0.41005, 'operatingCashflow': 104414003200, 'revenueGrowth': 0.364, 'operatingMargins': 0.28788, 'ebitda': 110934999040, 'targetLowPrice': 132, 'recommendationKey': 'buy', 'grossProfits': 104956000000, 'freeCashflow': 80625876992, 'targetMedianPrice': 170, 'currentPrice': 148.36, 'earningsGrowth': 1, 'currentRatio': 1.062, 'returnOnAssets': 0.19302, 'numberOfAnalystOpinions': 40, 'targetMeanPrice': 168.89, 'debtToEquity': 210.782, 'returnOnEquity': 1.27125, 'targetHighPrice': 190, 'totalCash': 61696000000, 'totalDebt': 135491002368, 'totalRevenue': 347155005440, 'totalCashPerShare': 3.732, 'financialCurrency': 'USD', 'revenuePerShare': 20.61, 'quickRatio': 0.887, 'recommendationMean': 1.8, 'exchange': 'NMS', 'shortName': 'Apple Inc.', 'longName': 'Apple Inc.', 'exchangeTimezoneName': 'America/New_York', 'exchangeTimezoneShortName': 'EDT', 'isEsgPopulated': False, 'gmtOffSetMilliseconds': '-14400000', 'quoteType': 'EQUITY', 'symbol': 'AAPL', 'messageBoardId': 'finmb_24937', 'market': 'us_market', 'annualHoldingsTurnover': None, 'enterpriseToRevenue': 7.293, 'beta3Year': None, 'enterpriseToEbitda': 22.821, '52WeekChange': 0.29239464, 'morningStarRiskRating': None, 'forwardEps': 5.68, 'revenueQuarterlyGrowth': None, 'sharesOutstanding': 16530199552, 'fundInceptionDate': None, 'annualReportExpenseRatio': None, 'totalAssets': None, 'bookValue': 3.882, 'sharesShort': 101107412, 'sharesPercentSharesOut': 0.0061000003, 'fundFamily': None, 'lastFiscalYearEnd': 1601078400, 'heldPercentInstitutions': 0.58671004, 'netIncomeToCommon': 86801997824, 'trailingEps': 5.108, 'lastDividendValue': 0.22, 'SandP52WeekChange': 0.33635402, 'priceToBook': 38.217415, 'heldPercentInsiders': 0.00072999997, 'nextFiscalYearEnd': 1664150400, 'yield': None, 'mostRecentQuarter': 1624665600, 'shortRatio': 1.18, 'sharesShortPreviousMonthDate': 1630368000, 'floatShares': 16513139929, 'beta': 1.222222, 'enterpriseValue': 2531665379328, 'priceHint': 2, 'threeYearAverageReturn': None, 'lastSplitDate': 1598832000, 'lastSplitFactor': '4:1', 'legalType': None, 'lastDividendDate': 1628208000, 'morningStarOverallRating': None, 'earningsQuarterlyGrowth': 0.932, 'priceToSalesTrailing12Months': 7.064338, 'dateShortInterest': 1632960000, 'pegRatio': 1.34, 'ytdReturn': None, 'forwardPE': 26.119719, 'lastCapGain': None, 'shortPercentOfFloat': 0.0061000003, 'sharesShortPriorMonth': 96838699, 'impliedSharesOutstanding': None, 'category': None, 'fiveYearAverageReturn': None, 'previousClose': 148.69, 'regularMarketOpen': 148.68, 'twoHundredDayAverage': 139.49467, 'trailingAnnualDividendYield': 0.0056157103, 'payoutRatio': 0.16309999, 'volume24Hr': None, 'regularMarketDayHigh': 149.37, 'navPrice': None, 'averageDailyVolume10Day': 68088783, 'regularMarketPreviousClose': 148.69, 'fiftyDayAverage': 145.9303, 'trailingAnnualDividendRate': 0.835, 'open': 148.68, 'toCurrency': None, 'averageVolume10days': 68088783, 'expireDate': None, 'algorithm': None, 'dividendRate': 0.88, 'exDividendDate': 1628208000, 'circulatingSupply': None, 'startDate': None, 'regularMarketDayLow': 147.92, 'currency': 'USD', 'trailingPE': 29.044638, 'regularMarketVolume': 10036145, 'lastMarket': None, 'maxSupply': None, 'openInterest': None, 'marketCap': 2452420296704, 'volumeAllCurrencies': None, 'strikePrice': None, 'averageVolume': 75838454, 'dayLow': 147.92, 'ask': 148.39, 'askSize': 1200, 'volume': 10036145, 'fiftyTwoWeekHigh': 157.26, 'fromCurrency': None, 'fiveYearAvgDividendYield': 1.24, 'fiftyTwoWeekLow': 107.32, 'bid': 148.38, 'tradeable': False, 'dividendYield': 0.0058999998, 'bidSize': 900, 'dayHigh': 149.37, 'regularMarketPrice': 148.36, 'preMarketPrice': 148.69, 'logo_url': 'https://logo.clearbit.com/apple.com'}

                 Open       High        Low  ...     Volume  Dividends  Stock Splits
Date                                         ...
2016-01-04  23.655163  24.291439  23.514536  ...  270597600        0.0             0
2016-01-05  24.379045  24.402098  23.609059  ...  223164000        0.0             0
2016-01-06  23.182573  23.599842  23.023505  ...  273829600        0.0             0
2016-01-07  22.749158  23.083433  22.230456  ...  324377600        0.0             0
2016-01-08  22.719195  22.848294  22.306538  ...  283192000        0.0             0
...               ...        ...        ...  ...        ...        ...           ...
2017-12-22  41.827756  42.004953  41.784656  ...   65397600        0.0             0
2017-12-26  40.898682  41.059116  40.630492  ...  132742000        0.0             0
2017-12-27  40.731054  40.893880  40.637667  ...   85992800        0.0             0
2017-12-28  40.946572  41.150109  40.822055  ...   65920800        0.0             0
2017-12-29  40.831625  40.848385  40.520335  ...  103999600        0.0             0

[503 rows x 7 columns]

In [ ]:
import yfinance as yf #Import library yfinance with the name yf

fbok = yf.Ticker("FB") #Set finantial data to Facebook

print(fbok.info) #Retrieve finantial data of Facebook

#Get facebook market data from 2017-01-01 until 2018-12-31
fbok_table = fbok.history(start="2017-01-01",end="2018-12-31")
fbok_table #Show Pandas DataFrame fbok_table

{'zip': '94025', 'sector': 'Communication Services', 'fullTimeEmployees': 71970, 'longBusinessSummary': "Meta Platforms, Inc. develops products that enable people to connect and share with friends and family through mobile devices, personal computers, virtual reality headsets, wearables, and in-home devices worldwide. It operates in two segments, Family of Apps and Reality Labs. The Family of Apps segment's products include Facebook, which enables people to share, discover, and connect with interests; Instagram, a community for sharing photos, videos, and private messages, as well as feed, stories, reels, video, live, and shops; Messenger, a messaging application for people to connect with friends, family, groups, and businesses across platforms and devices through chat, audio and video calls, and rooms; and WhatsApp, a messaging application that is used by people and businesses to communicate and transact privately. The Reality Labs segment provides augmented and virtual reality related products comprising virtual reality hardware, software, and content that help people feel connected, anytime, and anywhere. The company was formerly known as Facebook, Inc. and changed its name to Meta Platforms, Inc. in October 2021. Meta Platforms, Inc. was incorporated in 2004 and is headquartered in Menlo Park, California.", 'city': 'Menlo Park', 'phone': '650 543 4800', 'state': 'CA', 'country': 'United States', 'companyOfficers': [], 'website': 'https://investor.fb.com', 'maxAge': 1, 'address1': '1601 Willow Road', 'industry': 'Internet Content & Information', 'ebitdaMargins': 0.46401, 'profitMargins': 0.33383998, 'grossMargins': 0.80794, 'operatingCashflow': 57683001344, 'revenueGrowth': 0.199, 'operatingMargins': 0.39645, 'ebitda': 54720000000, 'targetLowPrice': 220, 'recommendationKey': 'buy', 'grossProfits': 95280000000, 'freeCashflow': 28807624704, 'targetMedianPrice': 338, 'currentPrice': 203.63, 'earningsGrowth': -0.052, 'currentRatio': 3.154, 'returnOnAssets': 0.17965001, 'numberOfAnalystOpinions': 54, 'targetMeanPrice': 324.22, 'debtToEquity': 11.574, 'returnOnEquity': 0.31102, 'targetHighPrice': 466, 'totalCash': 47998001152, 'totalDebt': 14453999616, 'totalRevenue': 117929000960, 'totalCashPerShare': 17.634, 'financialCurrency': 'USD', 'revenuePerShare': 41.893, 'quickRatio': 2.935, 'recommendationMean': 2.1, 'exchange': 'NMS', 'shortName': 'Meta Platforms, Inc.', 'longName': 'Meta Platforms, Inc.', 'exchangeTimezoneName': 'America/New_York', 'exchangeTimezoneShortName': 'EDT', 'isEsgPopulated': False, 'gmtOffSetMilliseconds': '-14400000', 'quoteType': 'EQUITY', 'symbol': 'FB', 'messageBoardId': 'finmb_20765463', 'market': 'us_market', 'annualHoldingsTurnover': None, 'enterpriseToRevenue': 4.148, 'beta3Year': None, 'enterpriseToEbitda': 8.939, '52WeekChange': -0.32386184, 'morningStarRiskRating': None, 'forwardEps': 14.47, 'revenueQuarterlyGrowth': None, 'sharesOutstanding': 2309080064, 'fundInceptionDate': None, 'annualReportExpenseRatio': None, 'totalAssets': None, 'bookValue': 44.299, 'sharesShort': 31207683, 'sharesPercentSharesOut': 0.0115, 'fundFamily': None, 'lastFiscalYearEnd': 1640908800, 'heldPercentInstitutions': 0.79182, 'netIncomeToCommon': 39369998336, 'trailingEps': 13.77, 'lastDividendValue': None, 'SandP52WeekChange': 0.072551966, 'priceToBook': 4.596718, 'heldPercentInsiders': 0.00532, 'nextFiscalYearEnd': 1703980800, 'yield': None, 'mostRecentQuarter': 1640908800, 'shortRatio': 0.56, 'sharesShortPreviousMonthDate': 1643587200, 'floatShares': 2290868012, 'beta': 1.387303, 'enterpriseValue': 489150513152, 'priceHint': 2, 'threeYearAverageReturn': None, 'lastSplitDate': None, 'lastSplitFactor': None, 'legalType': None, 'lastDividendDate': None, 'morningStarOverallRating': None, 'earningsQuarterlyGrowth': -0.083, 'priceToSalesTrailing12Months': 4.7247124, 'dateShortInterest': 1646006400, 'pegRatio': 0.82, 'ytdReturn': None, 'forwardPE': 14.072564, 'lastCapGain': None, 'shortPercentOfFloat': 0.0136, 'sharesShortPriorMonth': 24543197, 'impliedSharesOutstanding': 0, 'category': None, 'fiveYearAverageReturn': None, 'previousClose': 192.03, 'regularMarketOpen': 194.7, 'twoHundredDayAverage': 322.9025, 'trailingAnnualDividendYield': 0, 'payoutRatio': 0, 'volume24Hr': None, 'regularMarketDayHigh': 203.73, 'navPrice': None, 'averageDailyVolume10Day': 31901790, 'regularMarketPreviousClose': 192.03, 'fiftyDayAverage': 257.6164, 'trailingAnnualDividendRate': 0, 'open': 194.7, 'toCurrency': None, 'averageVolume10days': 31901790, 'expireDate': None, 'algorithm': None, 'dividendRate': None, 'exDividendDate': None, 'circulatingSupply': None, 'startDate': None, 'regularMarketDayLow': 194.65, 'currency': 'USD', 'trailingPE': 14.787945, 'regularMarketVolume': 40500765, 'lastMarket': None, 'maxSupply': None, 'openInterest': None, 'marketCap': 557180583936, 'volumeAllCurrencies': None, 'strikePrice': None, 'averageVolume': 34580276, 'dayLow': 194.65, 'ask': 203.91, 'askSize': 1000, 'volume': 40500765, 'fiftyTwoWeekHigh': 384.33, 'fromCurrency': None, 'fiveYearAvgDividendYield': None, 'fiftyTwoWeekLow': 185.82, 'bid': 203.13, 'tradeable': False, 'dividendYield': None, 'bidSize': 1000, 'dayHigh': 203.73, 'regularMarketPrice': 203.63, 'preMarketPrice': 194.46, 'logo_url': 'https://logo.clearbit.com/investor.fb.com', 'trailingPegRatio': 1.1424}

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-01-03,116.029999,117.839996,115.510002,116.860001,20663900,0,0
2017-01-04,117.550003,119.660004,117.290001,118.690002,19630900,0,0
2017-01-05,118.860001,120.949997,118.320000,120.669998,19492200,0,0
2017-01-06,120.980003,123.879997,120.029999,123.410004,28545300,0,0
2017-01-09,123.550003,125.430000,123.040001,124.900002,22880400,0,0
...,...,...,...,...,...,...,...
2018-12-21,133.389999,134.899994,123.419998,124.949997,56901500,0,0
2018-12-24,123.099998,129.740005,123.019997,124.059998,22066000,0,0
2018-12-26,126.000000,134.240005,125.889999,134.179993,39723400,0,0
2018-12-27,132.440002,134.990005,129.669998,134.520004,31202500,0,0
2018-12-28,135.339996,135.919998,132.199997,133.199997,22627600,0,0

We will create a Series named "aapl" whose values are Apple's daily closing prices, which are of course indexed by dates:

In [ ]:
aapl = aapl_table['Close']['2017']

In [ ]:
fbok = fbok_table['Close']['2018'] #Get Facebook daily closing prices in 2018

In [ ]:
print(aapl)

Date
2017-01-03    27.372364
2017-01-04    27.341724
2017-01-05    27.480768
2017-01-06    27.787132
2017-01-09    28.041645
                ...
2017-12-22    41.906776
2017-12-26    40.843601
2017-12-27    40.850777
2017-12-28    40.965721
2017-12-29    40.522736
Name: Close, Length: 251, dtype: float64

In [ ]:
print(fbok)

Date
2018-01-02    181.419998
2018-01-03    184.669998
2018-01-04    184.330002
2018-01-05    186.850006
2018-01-08    188.279999
                 ...
2018-12-21    124.949997
2018-12-24    124.059998
2018-12-26    134.179993
2018-12-27    134.520004
2018-12-28    133.199997
Name: Close, Length: 250, dtype: float64

Recall that we can fetch a specific data point using series['yyyy-mm-dd']. We can also fetch the data in a specific month using series['yyyy-mm'].

In [ ]:
print(aapl['2017-3'])

Date
2017-03-01    33.086281
2017-03-02    32.889839
2017-03-03    33.083920
2017-03-06    32.979778
2017-03-07    33.022373
2017-03-08    32.899296
2017-03-09    32.823563
2017-03-10    32.932434
2017-03-13    32.946640
2017-03-14    32.896942
2017-03-15    33.244865
2017-03-16    33.299305
2017-03-17    33.133617
2017-03-20    33.481544
2017-03-21    33.098122
2017-03-22    33.472084
2017-03-23    33.353741
2017-03-24    33.287464
2017-03-27    33.344276
2017-03-28    34.035393
2017-03-29    34.111141
2017-03-30    34.066158
2017-03-31    34.002254
Name: Close, dtype: float64

In [ ]:
print(fbok['2018-08']) #Print daily Facebook closing prices in August 2018

Date
2018-08-01    171.649994
2018-08-02    176.369995
2018-08-03    177.779999
2018-08-06    185.690002
2018-08-07    183.809998
2018-08-08    185.179993
2018-08-09    183.089996
2018-08-10    180.259995
2018-08-13    180.050003
2018-08-14    181.110001
2018-08-15    179.529999
2018-08-16    174.699997
2018-08-17    173.800003
2018-08-20    172.500000
2018-08-21    172.619995
2018-08-22    173.639999
2018-08-23    172.899994
2018-08-24    174.649994
2018-08-27    177.460007
2018-08-28    176.259995
2018-08-29    175.899994
2018-08-30    177.639999
2018-08-31    175.729996
Name: Close, dtype: float64

In [ ]:
aapl['2017-2':'2017-4']

Date
2017-02-01    30.341726
2017-02-02    30.289885
2017-02-03    30.419493
2017-02-06    30.704651
2017-02-07    30.996870
                ...
2017-04-24    33.997528
2017-04-25    34.208179
2017-04-26    34.006985
2017-04-27    34.033024
2017-04-28    33.999889
Name: Close, Length: 61, dtype: float64

In [ ]:
print(fbok['2018-08':'2018-10']) #Print daily Facebook closing prices from August 2018 to October 2018

Date
2018-08-01    171.649994
2018-08-02    176.369995
2018-08-03    177.779999
2018-08-06    185.690002
2018-08-07    183.809998
                 ...
2018-10-25    150.949997
2018-10-26    145.369995
2018-10-29    142.089996
2018-10-30    146.220001
2018-10-31    151.789993
Name: Close, Length: 65, dtype: float64

.head(N) and .tail(N) are methods for quickly accessing the first or last N elements.

In [ ]:
print(aapl.head(5))
print(aapl.tail(10))

Date
2017-01-03    27.372364
2017-01-04    27.341724
2017-01-05    27.480768
2017-01-06    27.787132
2017-01-09    28.041645
Name: Close, dtype: float64
Date
2017-12-15    41.657745
2017-12-18    42.244392
2017-12-19    41.794228
2017-12-20    41.748734
2017-12-21    41.906776
2017-12-22    41.906776
2017-12-26    40.843601
2017-12-27    40.850777
2017-12-28    40.965721
2017-12-29    40.522736
Name: Close, dtype: float64

In [ ]:
print(fbok.head(7)) #Print first seven rows of fbok DataFrame
print(fbok.tail(5)) #Print last five rows of fbok DataFrame

Date
2018-01-02    181.419998
2018-01-03    184.669998
2018-01-04    184.330002
2018-01-05    186.850006
2018-01-08    188.279999
2018-01-09    187.869995
2018-01-10    187.839996
Name: Close, dtype: float64
Date
2018-12-21    124.949997
2018-12-24    124.059998
2018-12-26    134.179993
2018-12-27    134.520004
2018-12-28    133.199997
Name: Close, dtype: float64

# Resampling
**_series.resample(freq)_** is a class called "DatetimeIndexResampler" which groups data in a Series object into regular time intervals. The argument "freq" determines the length of each interval.

**_series.resample.mean()_** is a complete statement that groups data into intervals, and then compute the mean of each interval. For example, if we want to aggregate the daily data into monthly data by mean:

In [ ]:
by_month = aapl.resample('M').mean()
print(by_month)

Date
2017-01-31    28.178332
2017-02-28    31.606276
2017-03-31    33.282219
2017-04-30    33.819262
2017-05-31    36.125686
2017-06-30    35.133984
2017-07-31    35.245242
2017-08-31    37.897228
2017-09-30    37.604739
2017-10-31    37.654550
2017-11-30    41.233914
2017-12-31    41.160038
Freq: M, Name: Close, dtype: float64

In [ ]:
monthly = fbok.resample('M').mean() #Aggregate data by month using the mean of the group
print(monthly)

Date
2018-01-31    184.962856
2018-02-28    180.269473
2018-03-31    173.489522
2018-04-30    163.810476
2018-05-31    182.930000
2018-06-30    195.267620
2018-07-31    199.967142
2018-08-31    177.492172
2018-09-30    164.377368
2018-10-31    154.187826
2018-11-30    141.635715
2018-12-31    137.498333
Freq: M, Name: Close, dtype: float64

We can also aggregate the data by week:

In [ ]:
by_week = aapl.resample('W').mean()
print(by_week.head())

Date
2017-01-08    27.495497
2017-01-15    28.097734
2017-01-22    28.266116
2017-01-29    28.553982
2017-02-05    29.662543
Freq: W-SUN, Name: Close, dtype: float64

In [ ]:
weekly = fbok.resample('W').mean() #Aggregate data by week using the mean of the group
print(weekly.tail(10)) #Print 10 last rows of weekly Pandas Series

Date
2018-10-28    150.305997
2018-11-04    148.439999
2018-11-11    148.595999
2018-11-18    142.262003
2018-11-25    132.632500
2018-12-02    137.485999
2018-12-09    139.017498
2018-12-16    143.500000
2018-12-23    135.088000
2018-12-30    131.489998
Freq: W-SUN, Name: Close, dtype: float64

We can also aggregate the data by month with max:

In [ ]:
aapl.resample('M').max()

Date
2017-01-31    28.739218
2017-02-28    32.451969
2017-03-31    34.111141
2017-04-30    34.264977
2017-05-31    37.099133
2017-06-30    36.944649
2017-07-31    36.471699
2017-08-31    39.129719
2017-09-30    39.141655
2017-10-31    40.332241
2017-11-30    42.050140
2017-12-31    42.244392
Freq: M, Name: Close, dtype: float64

In [ ]:
monthly = fbok.resample('M').min() #Aggregate data by month using the smallest of the group
print(monthly)

Date
2018-01-31    177.600006
2018-02-28    171.580002
2018-03-31    152.220001
2018-04-30    155.100006
2018-05-31    173.860001
2018-06-30    188.179993
2018-07-31    171.059998
2018-08-31    171.649994
2018-09-30    160.300003
2018-10-31    142.089996
2018-11-30    131.550003
2018-12-31    124.059998
Freq: M, Name: Close, dtype: float64

We can choose almost any frequency by using the format 'nf', where 'n' is an integer and 'f' is M for month, W for week and D for day.

In [ ]:
three_day = aapl.resample('3D').mean()
two_week = aapl.resample('2W').mean()
two_month = aapl.resample('2M').mean()


print(three_day)
print(two_week)
print(two_month )

Date
2017-01-03    27.398286
2017-01-06    27.787132
2017-01-09    28.110774
2017-01-12    28.078175
2017-01-15    28.279665
                ...
2017-12-17    42.019310
2017-12-20    41.854095
2017-12-23          NaN
2017-12-26    40.886700
2017-12-29    40.522736
Freq: 3D, Name: Close, Length: 121, dtype: float64
Date
2017-01-08    27.495497
2017-01-22    28.172571
2017-02-05    29.108263
2017-02-19    31.516817
2017-03-05    32.595556
2017-03-19    33.017881
2017-04-02    33.625218
2017-04-16    33.849726
2017-04-30    33.791843
2017-05-14    35.697633
2017-05-28    36.496181
2017-06-11    36.515007
2017-06-25    34.529047
2017-07-09    34.265135
2017-07-23    35.278873
2017-08-06    36.272775
2017-08-20    37.904119
2017-09-03    38.458793
2017-09-17    38.282708
2017-10-01    36.840876
2017-10-15    37.071593
2017-10-29    37.757321
2017-11-12    41.032237
2017-11-26    41.204375
2017-12-10    40.867067
2017-12-24    41.620866
2018-01-07    40.795709
Freq: 2W-SUN, Name: Close, dtype: float64
Date
2017-01-31    28.178332
2017-03-31    32.524054
2017-05-31    35.056855
2017-07-31    35.186964
2017-09-30    37.761187
2017-11-30    39.402611
2018-01-31    41.160038
Freq: 2M, Name: Close, dtype: float64

In [ ]:
six_day = fbok.resample('6D').mean() #Aggregate data by groups of six days using the mean of the group
three_week = fbok.resample('3W').min() #Aggregate data by groups of three weeks using the min of the group
four_month = fbok.resample('4M').max() #Aggregate data by groups of four weeks using the max of the group


print(six_day)
print(three_week)
print(four_month )

Date
2018-01-02    184.317501
2018-01-08    186.225998
2018-01-14    179.270000
2018-01-20    187.187500
2018-01-26    187.497498
                 ...
2018-12-04    138.326665
2018-12-10    143.500000
2018-12-16    135.088000
2018-12-22    130.919998
2018-12-28    133.199997
Freq: 6D, Name: Close, Length: 61, dtype: float64
Date
2018-01-07    181.419998
2018-01-28    177.600006
2018-02-18    171.580002
2018-03-11    175.940002
2018-04-01    152.220001
2018-04-22    155.100006
2018-05-13    159.690002
2018-06-03    182.679993
2018-06-24    188.179993
2018-07-15    192.729996
2018-08-05    171.059998
2018-08-26    172.500000
2018-09-16    161.360001
2018-10-07    157.330002
2018-10-28    145.369995
2018-11-18    139.529999
2018-12-09    131.550003
2018-12-30    124.059998
Freq: 3W-SUN, Name: Close, dtype: float64
Date
2018-01-31    190.000000
2018-05-31    193.089996
2018-09-30    217.500000
2019-01-31    162.440002
Freq: 4M, Name: Close, dtype: float64

Besides the mean() method, other methods can also be used with the resampler:

In [ ]:
std = aapl.resample('W').std()
max = aapl.resample('W').max()
min = aapl.resample('W').min()


print(std)
print(max)
print(min)

Date
2017-01-08    0.203368
2017-01-15    0.072530
2017-01-22    0.025554
2017-01-29    0.245288
2017-02-05    0.943260
2017-02-12    0.252001
2017-02-19    0.231394
2017-02-26    0.059345
2017-03-05    0.340094
2017-03-12    0.076284
2017-03-19    0.177834
2017-03-26    0.157262
2017-04-02    0.319806
2017-04-09    0.128689
2017-04-16    0.212476
2017-04-23    0.174672
2017-04-30    0.090027
2017-05-07    0.235639
2017-05-14    0.352980
2017-05-21    0.536091
2017-05-28    0.060392
2017-06-04    0.281225
2017-06-11    0.620034
2017-06-18    0.382564
2017-06-25    0.128893
2017-07-02    0.264113
2017-07-09    0.158890
2017-07-16    0.404281
2017-07-23    0.124988
2017-07-30    0.384441
2017-08-06    0.924388
2017-08-13    0.467469
2017-08-20    0.435251
2017-08-27    0.275762
2017-09-03    0.251722
2017-09-10    0.381637
2017-09-17    0.294141
2017-09-24    0.735195
2017-10-01    0.354840
2017-10-08    0.204857
2017-10-15    0.118733
2017-10-22    0.517001
2017-10-29    0.680452
2017-11-05    0.560686
2017-11-12    0.190971
2017-11-19    0.436199
2017-11-26    0.563047
2017-12-03    0.427439
2017-12-10    0.073130
2017-12-17    0.205266
2017-12-24    0.194120
2017-12-31    0.190390
Freq: W-SUN, Name: Close, dtype: float64
Date
2017-01-08    27.787132
2017-01-15    28.220753
2017-01-22    28.279665
2017-01-29    28.739218
2017-02-05    30.419493
2017-02-12    31.341911
2017-02-19    32.122974
2017-02-26    32.451969
2017-03-05    33.086281
2017-03-12    33.022373
2017-03-19    33.299305
2017-03-26    33.481544
2017-04-02    34.111141
2017-04-09    34.264977
2017-04-16    33.886284
2017-04-23    33.713501
2017-04-30    34.208179
2017-05-07    35.256695
2017-05-14    37.099133
2017-05-21    37.004063
2017-05-28    36.597664
2017-06-04    36.944649
2017-06-11    36.925632
2017-06-18    34.838963
2017-06-25    34.779545
2017-07-02    34.658337
2017-07-09    34.266190
2017-07-16    35.421230
2017-07-23    35.891800
2017-07-30    36.471699
2017-08-06    37.346291
2017-08-13    38.277939
2017-08-20    38.557095
2017-08-27    38.170567
2017-09-03    39.141655
2017-09-10    38.671623
2017-09-17    38.533234
2017-09-24    37.872326
2017-10-01    36.798645
2017-10-08    37.075409
2017-10-15    37.457165
2017-10-22    38.287479
2017-10-29    38.903053
2017-11-05    41.157795
2017-11-12    42.050140
2017-11-19    41.657745
2017-11-26    41.897190
2017-12-03    41.686470
2017-12-10    40.659222
2017-12-17    41.657745
2017-12-24    42.244392
2017-12-31    40.965721
Freq: W-SUN, Name: Close, dtype: float64
Date
2017-01-08    27.341724
2017-01-15    28.041645
2017-01-22    28.227821
2017-01-29    28.272598
2017-02-05    28.597816
2017-02-12    30.704651
2017-02-19    31.547823
2017-02-26    32.314690
2017-03-05    32.409355
2017-03-12    32.823563
2017-03-19    32.896942
2017-03-26    33.098122
2017-04-02    33.344276
2017-04-09    33.926514
2017-04-16    33.384510
2017-04-23    33.296936
2017-04-30    33.997528
2017-05-07    34.681545
2017-05-14    36.215267
2017-05-21    35.708805
2017-05-28    36.443184
2017-06-04    36.305332
2017-06-11    35.406971
2017-06-18    33.812263
2017-06-25    34.463455
2017-07-02    34.147358
2017-07-09    33.921577
2017-07-16    34.475338
2017-07-23    35.544815
2017-07-30    35.530552
2017-08-06    35.347557
2017-08-13    37.058720
2017-08-20    37.578846
2017-08-27    37.509666
2017-09-03    38.526081
2017-09-10    37.848465
2017-09-17    37.764950
2017-09-24    36.240326
2017-10-01    35.920620
2017-10-08    36.619694
2017-10-15    37.182777
2017-10-22    37.216179
2017-10-29    37.261517
2017-11-05    39.778702
2017-11-12    41.575333
2017-11-19    40.486816
2017-11-26    40.702312
2017-12-03    40.582603
2017-12-10    40.470051
2017-12-17    41.114185
2017-12-24    41.748734
2017-12-31    40.522736
Freq: W-SUN, Name: Close, dtype: float64

In [ ]:
std_month = fbok.resample('M').std() #Aggregate data by month using the standar deviation of the group
max_month = fbok.resample('M').max() #Aggregate data by month using the max of the group
min_month = fbok.resample('M').min() #Aggregate data by month using the smallest value of the group


print(std_month)
print(max_month)
print(min_month)

Date
2018-01-31     3.768911
2018-02-28     5.374294
2018-03-31    11.259978
2018-04-30     5.814232
2018-05-31     4.729699
2018-06-30     3.906480
2018-07-31    14.218749
2018-08-31     4.187375
2018-09-30     2.847942
2018-10-31     5.419245
2018-11-30     6.697734
2018-12-31     6.243195
Freq: M, Name: Close, dtype: float64
Date
2018-01-31    190.000000
2018-02-28    193.089996
2018-03-31    185.229996
2018-04-30    174.160004
2018-05-31    191.779999
2018-06-30    202.000000
2018-07-31    217.500000
2018-08-31    185.690002
2018-09-30    171.160004
2018-10-31    162.440002
2018-11-30    151.750000
2018-12-31    145.009995
Freq: M, Name: Close, dtype: float64
Date
2018-01-31    177.600006
2018-02-28    171.580002
2018-03-31    152.220001
2018-04-30    155.100006
2018-05-31    173.860001
2018-06-30    188.179993
2018-07-31    171.059998
2018-08-31    171.649994
2018-09-30    160.300003
2018-10-31    142.089996
2018-11-30    131.550003
2018-12-31    124.059998
Freq: M, Name: Close, dtype: float64

Often we want to calculate monthly returns of a stock, based on prices on the last day of each month. To fetch those prices, we use the series.resample.agg() method:

In [ ]:
last_day = aapl.resample('M').agg(lambda x: x[-1]) 
print(last_day)

Date
2017-01-31    28.597816
2017-02-28    32.423561
2017-03-31    34.002254
2017-04-30    33.999889
2017-05-31    36.305332
2017-06-30    34.228172
2017-07-31    35.347557
2017-08-31    39.129719
2017-09-30    36.772392
2017-10-31    40.332241
2017-11-30    41.150097
2017-12-31    40.522736
Freq: M, Name: Close, dtype: float64

In [ ]:
last_day_week = fbok.resample('W').agg(lambda x: x[-1])  #Aggregate data by month using the last day of the week
print(last_day_week)

Date
2018-01-07    186.850006
2018-01-14    179.369995
2018-01-21    181.289993
2018-01-28    190.000000
2018-02-04    190.279999
2018-02-11    176.110001
2018-02-18    177.360001
2018-02-25    183.289993
2018-03-04    176.619995
2018-03-11    185.229996
2018-03-18    185.089996
2018-03-25    159.389999
2018-04-01    159.789993
2018-04-08    157.199997
2018-04-15    164.520004
2018-04-22    166.279999
2018-04-29    173.589996
2018-05-06    176.610001
2018-05-13    186.990005
2018-05-20    182.679993
2018-05-27    184.919998
2018-06-03    193.990005
2018-06-10    189.100006
2018-06-17    195.850006
2018-06-24    201.740005
2018-07-01    194.320007
2018-07-08    203.229996
2018-07-15    207.320007
2018-07-22    209.940002
2018-07-29    174.889999
2018-08-05    177.779999
2018-08-12    180.259995
2018-08-19    173.800003
2018-08-26    174.649994
2018-09-02    175.729996
2018-09-09    163.039993
2018-09-16    162.320007
2018-09-23    162.929993
2018-09-30    164.460007
2018-10-07    157.330002
2018-10-14    153.740005
2018-10-21    154.050003
2018-10-28    145.369995
2018-11-04    150.350006
2018-11-11    144.960007
2018-11-18    139.529999
2018-11-25    131.729996
2018-12-02    140.610001
2018-12-09    137.419998
2018-12-16    144.059998
2018-12-23    124.949997
2018-12-30    133.199997
Freq: W-SUN, Name: Close, dtype: float64

Or directly calculate the monthly rates of return using the data for the first day and the last day:

In [ ]:
monthly_return = aapl.resample('M').agg(lambda x: x[-1]/x[0] - 1)
print(monthly_return)

Date
2017-01-31    0.044770
2017-02-28    0.068613
2017-03-31    0.027684
2017-04-30   -0.000348
2017-05-31    0.046463
2017-06-30   -0.059799
2017-07-31    0.036446
2017-08-31    0.097261
2017-09-30   -0.060530
2017-10-31    0.099018
2017-11-30    0.033422
2017-12-31   -0.010640
Freq: M, Name: Close, dtype: float64

In [ ]:
weekly_return = fbok.resample('W').agg(lambda x: x[-1]/x[0] - 1) #Aggregate data by week using the weekly rate
print(weekly_return)

Date
2018-01-07    0.029931
2018-01-14   -0.047323
2018-01-21    0.016256
2018-01-28    0.024977
2018-02-04    0.023121
2018-02-11   -0.028412
2018-02-18    0.005385
2018-02-25    0.041361
2018-03-04   -0.044936
2018-03-11    0.026774
2018-03-18    0.001786
2018-03-25   -0.076321
2018-04-01   -0.001687
2018-04-08    0.011648
2018-04-15    0.041727
2018-04-22    0.008797
2018-04-29    0.046732
2018-05-06    0.026802
2018-05-13    0.050683
2018-05-20   -0.021217
2018-05-27    0.002331
2018-06-03    0.044417
2018-06-10   -0.021627
2018-06-17    0.022502
2018-06-24    0.017296
2018-07-01   -0.010339
2018-07-08    0.029743
2018-07-15    0.012601
2018-07-22    0.013077
2018-07-29   -0.170784
2018-08-05    0.039284
2018-08-12   -0.029242
2018-08-19   -0.034713
2018-08-26    0.012464
2018-09-02   -0.009749
2018-09-09   -0.047441
2018-09-16   -0.011329
2018-09-23    0.014634
2018-09-30   -0.005743
2018-10-07   -0.031458
2018-10-14   -0.022321
2018-10-21    0.003452
2018-10-28   -0.060796
2018-11-04    0.058132
2018-11-11   -0.025020
2018-11-18   -0.014271
2018-11-25    0.001368
2018-12-02    0.031016
2018-12-09   -0.026012
2018-12-16    0.015580
2018-12-23   -0.108710
2018-12-30    0.073674
Freq: W-SUN, Name: Close, dtype: float64

Series object also provides us some convenient methods to do some quick calculation.

In [ ]:
print(monthly_return.mean())
print(monthly_return.std())
print(monthly_return.max())

0.02686331860727394
0.052258487776588924
0.09901841642506737

In [ ]:
print(weekly_return.mean()) #Takes A.mean=a_1+a_2+...+a_n
print(weekly_return.std()) #Return the standard deviation of all the rows of weekly_return
print(weekly_return.max()) #Returns the largest element of weekly_return

-0.0019595516396697247
0.04249598641682211
0.07367402522583166

Another two methods frequently used on Series are .diff() and .pct_change(). The former calculates the difference between consecutive elements, and the latter calculates the percentage change.

In [ ]:
print(last_day.diff())
print(last_day.pct_change())

Date
2017-01-31         NaN
2017-02-28    3.825745
2017-03-31    1.578693
2017-04-30   -0.002365
2017-05-31    2.305443
2017-06-30   -2.077160
2017-07-31    1.119385
2017-08-31    3.782162
2017-09-30   -2.357327
2017-10-31    3.559849
2017-11-30    0.817856
2017-12-31   -0.627361
Freq: M, Name: Close, dtype: float64
Date
2017-01-31         NaN
2017-02-28    0.133778
2017-03-31    0.048690
2017-04-30   -0.000070
2017-05-31    0.067807
2017-06-30   -0.057214
2017-07-31    0.032704
2017-08-31    0.106999
2017-09-30   -0.060244
2017-10-31    0.096808
2017-11-30    0.020278
2017-12-31   -0.015246
Freq: M, Name: Close, dtype: float64

In [ ]:
print(weekly_return.diff()) #Here take weekly_return.diff()=weekly_return[n]-weekly_return[n-1]
print(weekly_return.pct_change()) #Here take weekly_return.pct_change()=(weekly_return[n]-weekly_return[n-1])/weekly_return[n]

Date
2018-01-07         NaN
2018-01-14   -0.077254
2018-01-21    0.063580
2018-01-28    0.008721
2018-02-04   -0.001856
2018-02-11   -0.051533
2018-02-18    0.033797
2018-02-25    0.035976
2018-03-04   -0.086297
2018-03-11    0.071710
2018-03-18   -0.024988
2018-03-25   -0.078107
2018-04-01    0.074634
2018-04-08    0.013335
2018-04-15    0.030079
2018-04-22   -0.032930
2018-04-29    0.037935
2018-05-06   -0.019929
2018-05-13    0.023880
2018-05-20   -0.071900
2018-05-27    0.023548
2018-06-03    0.042086
2018-06-10   -0.066044
2018-06-17    0.044129
2018-06-24   -0.005206
2018-07-01   -0.027635
2018-07-08    0.040081
2018-07-15   -0.017141
2018-07-22    0.000476
2018-07-29   -0.183861
2018-08-05    0.210068
2018-08-12   -0.068527
2018-08-19   -0.005470
2018-08-26    0.047176
2018-09-02   -0.022212
2018-09-09   -0.037692
2018-09-16    0.036112
2018-09-23    0.025963
2018-09-30   -0.020378
2018-10-07   -0.025714
2018-10-14    0.009137
2018-10-21    0.025773
2018-10-28   -0.064248
2018-11-04    0.118928
2018-11-11   -0.083152
2018-11-18    0.010749
2018-11-25    0.015639
2018-12-02    0.029648
2018-12-09   -0.057028
2018-12-16    0.041592
2018-12-23   -0.124289
2018-12-30    0.182384
Freq: W-SUN, Name: Close, dtype: float64
Date
2018-01-07          NaN
2018-01-14    -2.581097
2018-01-21    -1.343521
2018-01-28     0.536439
2018-02-04    -0.074321
2018-02-11    -2.228859
2018-02-18    -1.189537
2018-02-25     6.680597
2018-03-04    -2.086425
2018-03-11    -1.595823
2018-03-18    -0.933289
2018-03-25   -43.730422
2018-04-01    -0.977897
2018-04-08    -7.905054
2018-04-15     2.582339
2018-04-22    -0.789181
2018-04-29     4.312288
2018-05-06    -0.426465
2018-05-13     0.890982
2018-05-20    -1.418631
2018-05-27    -1.109849
2018-06-03    18.057252
2018-06-10    -1.486900
2018-06-17    -2.040472
2018-06-24    -0.231345
2018-07-01    -1.597743
2018-07-08    -3.876827
2018-07-15    -0.576319
2018-07-22     0.037768
2018-07-29   -14.059569
2018-08-05    -1.230025
2018-08-12    -1.744374
2018-08-19     0.187066
2018-08-26    -1.359055
2018-09-02    -1.782168
2018-09-09     3.866379
2018-09-16    -0.761200
2018-09-23    -2.291771
2018-09-30    -1.392451
2018-10-07     4.477313
2018-10-14    -0.290442
2018-10-21    -1.154666
2018-10-28   -18.610231
2018-11-04    -1.956185
2018-11-11    -1.430399
2018-11-18    -0.429634
2018-11-25    -1.095879
2018-12-02    21.668629
2018-12-09    -1.838649
2018-12-16    -1.598951
2018-12-23    -7.977612
2018-12-30    -1.677714
Freq: W-SUN, Name: Close, dtype: float64

Notice that we induced a NaN value while calculating percentage changes i.e. returns.

When dealing with NaN values, we usually either removing the data point or fill it with a specific value. Here we fill it with 0:

In [ ]:
daily_return = last_day.pct_change()
print(daily_return.fillna(0))

Date
2017-01-31    0.000000
2017-02-28    0.133778
2017-03-31    0.048690
2017-04-30   -0.000070
2017-05-31    0.067807
2017-06-30   -0.057214
2017-07-31    0.032704
2017-08-31    0.106999
2017-09-30   -0.060244
2017-10-31    0.096808
2017-11-30    0.020278
2017-12-31   -0.015246
Freq: M, Name: Close, dtype: float64

In [ ]:
daily_return_week = last_day_week.pct_change() #Get Percentage change of last_day_week
print(daily_return_week.fillna(0)) #Replace NaN values of daily_return_week with 0

Date
2018-01-07    0.000000
2018-01-14   -0.040032
2018-01-21    0.010704
2018-01-28    0.048045
2018-02-04    0.001474
2018-02-11   -0.074469
2018-02-18    0.007098
2018-02-25    0.033435
2018-03-04   -0.036390
2018-03-11    0.048749
2018-03-18   -0.000756
2018-03-25   -0.138851
2018-04-01    0.002510
2018-04-08   -0.016209
2018-04-15    0.046565
2018-04-22    0.010698
2018-04-29    0.043962
2018-05-06    0.017397
2018-05-13    0.058774
2018-05-20   -0.023049
2018-05-27    0.012262
2018-06-03    0.049048
2018-06-10   -0.025207
2018-06-17    0.035695
2018-06-24    0.030074
2018-07-01   -0.036780
2018-07-08    0.045852
2018-07-15    0.020125
2018-07-22    0.012637
2018-07-29   -0.166952
2018-08-05    0.016525
2018-08-12    0.013950
2018-08-19   -0.035837
2018-08-26    0.004891
2018-09-02    0.006184
2018-09-09   -0.072213
2018-09-16   -0.004416
2018-09-23    0.003758
2018-09-30    0.009391
2018-10-07   -0.043354
2018-10-14   -0.022818
2018-10-21    0.002016
2018-10-28   -0.056345
2018-11-04    0.034257
2018-11-11   -0.035850
2018-11-18   -0.037459
2018-11-25   -0.055902
2018-12-02    0.067411
2018-12-09   -0.022687
2018-12-16    0.048319
2018-12-23   -0.132653
2018-12-30    0.066026
Freq: W-SUN, Name: Close, dtype: float64

Alternatively, we can fill a NaN with the next fitted value. This is called 'backward fill', or 'bfill' in short:

In [ ]:
daily_return = last_day.pct_change()
print(daily_return.fillna(method = 'bfill'))

Date
2017-01-31    0.133778
2017-02-28    0.133778
2017-03-31    0.048690
2017-04-30   -0.000070
2017-05-31    0.067807
2017-06-30   -0.057214
2017-07-31    0.032704
2017-08-31    0.106999
2017-09-30   -0.060244
2017-10-31    0.096808
2017-11-30    0.020278
2017-12-31   -0.015246
Freq: M, Name: Close, dtype: float64

In [ ]:
daily_return_week = last_day_week.pct_change() #Get Percentage change of last_day_week
print(daily_return_week.fillna(method='bfill')) #Replace NaN values of daily_return_week with the value before the NaN value

Date
2018-01-07   -0.040032
2018-01-14   -0.040032
2018-01-21    0.010704
2018-01-28    0.048045
2018-02-04    0.001474
2018-02-11   -0.074469
2018-02-18    0.007098
2018-02-25    0.033435
2018-03-04   -0.036390
2018-03-11    0.048749
2018-03-18   -0.000756
2018-03-25   -0.138851
2018-04-01    0.002510
2018-04-08   -0.016209
2018-04-15    0.046565
2018-04-22    0.010698
2018-04-29    0.043962
2018-05-06    0.017397
2018-05-13    0.058774
2018-05-20   -0.023049
2018-05-27    0.012262
2018-06-03    0.049048
2018-06-10   -0.025207
2018-06-17    0.035695
2018-06-24    0.030074
2018-07-01   -0.036780
2018-07-08    0.045852
2018-07-15    0.020125
2018-07-22    0.012637
2018-07-29   -0.166952
2018-08-05    0.016525
2018-08-12    0.013950
2018-08-19   -0.035837
2018-08-26    0.004891
2018-09-02    0.006184
2018-09-09   -0.072213
2018-09-16   -0.004416
2018-09-23    0.003758
2018-09-30    0.009391
2018-10-07   -0.043354
2018-10-14   -0.022818
2018-10-21    0.002016
2018-10-28   -0.056345
2018-11-04    0.034257
2018-11-11   -0.035850
2018-11-18   -0.037459
2018-11-25   -0.055902
2018-12-02    0.067411
2018-12-09   -0.022687
2018-12-16    0.048319
2018-12-23   -0.132653
2018-12-30    0.066026
Freq: W-SUN, Name: Close, dtype: float64

As expected, since there is a 'backward fill' method, there must be a 'forward fill' method, or 'ffill' in short. However we can't use it here because the NaN is the first value.

We can also simply remove NaN values by **_.dropna()_**

In [ ]:
daily_return = last_day.pct_change()
daily_return.dropna()

Date
2017-02-28    0.133778
2017-03-31    0.048690
2017-04-30   -0.000070
2017-05-31    0.067807
2017-06-30   -0.057214
2017-07-31    0.032704
2017-08-31    0.106999
2017-09-30   -0.060244
2017-10-31    0.096808
2017-11-30    0.020278
2017-12-31   -0.015246
Freq: M, Name: Close, dtype: float64

In [ ]:
daily_return_week = last_day_week.pct_change() #Get Percentage change of last_day_week
daily_return_week.dropna() #Remove rows with NaN values
daily_return_week

Date
2018-01-07         NaN
2018-01-14   -0.040032
2018-01-21    0.010704
2018-01-28    0.048045
2018-02-04    0.001474
2018-02-11   -0.074469
2018-02-18    0.007098
2018-02-25    0.033435
2018-03-04   -0.036390
2018-03-11    0.048749
2018-03-18   -0.000756
2018-03-25   -0.138851
2018-04-01    0.002510
2018-04-08   -0.016209
2018-04-15    0.046565
2018-04-22    0.010698
2018-04-29    0.043962
2018-05-06    0.017397
2018-05-13    0.058774
2018-05-20   -0.023049
2018-05-27    0.012262
2018-06-03    0.049048
2018-06-10   -0.025207
2018-06-17    0.035695
2018-06-24    0.030074
2018-07-01   -0.036780
2018-07-08    0.045852
2018-07-15    0.020125
2018-07-22    0.012637
2018-07-29   -0.166952
2018-08-05    0.016525
2018-08-12    0.013950
2018-08-19   -0.035837
2018-08-26    0.004891
2018-09-02    0.006184
2018-09-09   -0.072213
2018-09-16   -0.004416
2018-09-23    0.003758
2018-09-30    0.009391
2018-10-07   -0.043354
2018-10-14   -0.022818
2018-10-21    0.002016
2018-10-28   -0.056345
2018-11-04    0.034257
2018-11-11   -0.035850
2018-11-18   -0.037459
2018-11-25   -0.055902
2018-12-02    0.067411
2018-12-09   -0.022687
2018-12-16    0.048319
2018-12-23   -0.132653
2018-12-30    0.066026
Freq: W-SUN, Name: Close, dtype: float64

# DataFrame
The **DataFrame** is the most commonly used data structure in Pandas. It is essentially a table, just like an Excel spreadsheet.

More precisely, a DataFrame is a collection of Series objects, each of which may contain different data types. A DataFrame can be created from various data types: dictionary, 2-D numpy.ndarray, a Series or another DataFrame.

## Create DataFrames
The most common method of creating a DataFrame is passing a dictionary:

In [ ]:
import pandas as pd

dict = {'AAPL': [143.5, 144.09, 142.73, 144.18, 143.77],'GOOG':[898.7, 911.71, 906.69, 918.59, 926.99],
        'IBM':[155.58, 153.67, 152.36, 152.94, 153.49]}
data_index = pd.date_range('2017-07-03',periods = 5, freq = 'D')
df = pd.DataFrame(dict, index = data_index)
print(df)

              AAPL    GOOG     IBM
2017-07-03  143.50  898.70  155.58
2017-07-04  144.09  911.71  153.67
2017-07-05  142.73  906.69  152.36
2017-07-06  144.18  918.59  152.94
2017-07-07  143.77  926.99  153.49

In [ ]:
import pandas as pd

#Define a dictionary
dict_ex = {'FB': [243.3, 244.29, 224.73, 234.18, 234.77],'NVDA':[89.7, 91.71, 90.69, 91.59, 92.99],
        'BAC':[55.58, 53.67, 52.36, 52.74, 53.49]}
#Generate a sequence of 5 dates starting in 2018-07-03 daily
data_index = pd.date_range('2018-07-03',periods = 5, freq = 'D')
#Make a type cast from dictionary to pandas DataFrame and set row labels as data_index
dataframe_ex = pd.DataFrame(dict_ex, index = data_index)
print(dataframe_ex)

                FB   NVDA    BAC
2018-07-03  243.30  89.70  55.58
2018-07-04  244.29  91.71  53.67
2018-07-05  224.73  90.69  52.36
2018-07-06  234.18  91.59  52.74
2018-07-07  234.77  92.99  53.49

## Manipulating DataFrames
We can fetch values in a DataFrame by columns and index. Each column in a DataFrame is essentially a Pandas Series. We can fetch a column by square brackets: **df['column_name']**

If a column name contains no spaces, then we can also use df.column_name to fetch a column:

In [ ]:
df = aapl_table
print(df.Close.tail(5))
print(df['Volume'].tail(5))

Date
2017-12-22    41.906776
2017-12-26    40.843601
2017-12-27    40.850777
2017-12-28    40.965721
2017-12-29    40.522736
Name: Close, dtype: float64
Date
2017-12-22     65397600
2017-12-26    132742000
2017-12-27     85992800
2017-12-28     65920800
2017-12-29    103999600
Name: Volume, dtype: int64

In [ ]:
dataframe_ex = fbok_table #Set dataframe_ex as the content of the variable fbok_table
print(dataframe_ex.tail(7)) #Show the 7 last rows of the dataframe
print(dataframe_ex['Volume'].tail(5)) #Show the column Volume with its 7 last rows

                  Open        High         Low       Close    Volume  \
Date
2018-12-19  141.210007  144.910004  132.500000  133.240005  57404900
2018-12-20  130.699997  135.570007  130.000000  133.399994  40297900
2018-12-21  133.389999  134.899994  123.419998  124.949997  56901500
2018-12-24  123.099998  129.740005  123.019997  124.059998  22066000
2018-12-26  126.000000  134.240005  125.889999  134.179993  39723400
2018-12-27  132.440002  134.990005  129.669998  134.520004  31202500
2018-12-28  135.339996  135.919998  132.199997  133.199997  22627600

            Dividends  Stock Splits
Date
2018-12-19          0             0
2018-12-20          0             0
2018-12-21          0             0
2018-12-24          0             0
2018-12-26          0             0
2018-12-27          0             0
2018-12-28          0             0
Date
2018-12-21    56901500
2018-12-24    22066000
2018-12-26    39723400
2018-12-27    31202500
2018-12-28    22627600
Name: Volume, dtype: int64

All the methods we applied to a Series index such as iloc[], loc[] and resampling methods, can also be applied to a DataFrame:

In [ ]:
aapl_2016 = df['2016']
aapl_month = aapl_2016.resample('M').agg(lambda x: x[-1])
print(aapl_month)

                 Open       High        Low  ...     Volume  Dividends  Stock Splits
Date                                         ...
2016-01-31  21.852388  22.440250  21.750952  ...  257666000        0.0             0
2016-02-29  22.450761  22.768308  22.402086  ...  140865200        0.0             0
2016-03-31  25.431520  25.473242  25.236819  ...  103553600        0.0             0
2016-04-30  21.785529  21.954734  21.442488  ...  274126000        0.0             0
2016-05-31  23.226409  23.412967  23.044516  ...  169228800        0.0             0
2016-06-30  22.023112  22.333262  21.990464  ...  143345600        0.0             0
2016-07-31  24.296780  24.380731  24.177849  ...  110934800        0.0             0
2016-08-31  24.773054  24.986412  24.768364  ...  118649600        0.0             0
2016-09-30  26.367388  26.580747  26.212645  ...  145516400        0.0             0
2016-10-31  26.646396  26.782384  26.540888  ...  105677600        0.0             0
2016-11-30  26.300094  26.441492  25.986660  ...  144649200        0.0             0
2016-12-31  27.490193  27.619807  27.202683  ...  122345200        0.0             0

[12 rows x 7 columns]

In [ ]:
fbok_2017 = dataframe_ex['2017'] #Select all the rows of year 2017
fbok_monthly = fbok_2017.resample('M').agg(lambda x: x[-1]) #Aggregate data by month using the last day of the week
print(fbok_monthly)

                  Open        High         Low       Close    Volume  \
Date
2017-01-31  130.169998  130.660004  129.520004  130.320007  19790500
2017-02-28  136.789993  136.809998  134.750000  135.539993  16112100
2017-03-31  142.309998  142.630005  141.889999  142.050003  11478300
2017-04-30  149.500000  151.529999  149.070007  150.250000  30652200
2017-05-31  152.699997  153.350006  151.089996  151.460007  18023900
2017-06-30  151.899994  151.919998  150.059998  150.979996  17666000
2017-07-31  172.000000  172.720001  168.550003  169.250000  25478900
2017-08-31  170.399994  172.149994  170.059998  171.970001  17226500
2017-09-30  168.830002  171.660004  168.809998  170.869995  15340400
2017-10-31  180.570007  180.800003  178.940002  180.059998  20174200
2017-11-30  176.850006  178.279999  175.199997  177.179993  25307600
2017-12-31  178.000000  178.850006  176.460007  176.460007  10261500

            Dividends  Stock Splits
Date
2017-01-31          0             0
2017-02-28          0             0
2017-03-31          0             0
2017-04-30          0             0
2017-05-31          0             0
2017-06-30          0             0
2017-07-31          0             0
2017-08-31          0             0
2017-09-30          0             0
2017-10-31          0             0
2017-11-30          0             0
2017-12-31          0             0

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  """Entry point for launching an IPython kernel.

We may select certain columns of a DataFrame using their names:

In [ ]:
aapl_bar = aapl_month[['Open', 'High', 'Low', 'Close']]
print(aapl_bar)

                 Open       High        Low      Close
Date
2016-01-31  21.852388  22.440250  21.750952  22.440250
2016-02-29  22.450761  22.768308  22.402086  22.411358
2016-03-31  25.431520  25.473242  25.236819  25.262316
2016-04-30  21.785529  21.954734  21.442488  21.727583
2016-05-31  23.226409  23.412967  23.044516  23.287041
2016-06-30  22.023112  22.333262  21.990464  22.293619
2016-07-31  24.296780  24.380731  24.177849  24.301443
2016-08-31  24.773054  24.986412  24.768364  24.876215
2016-09-30  26.367388  26.580747  26.212645  26.505720
2016-10-31  26.646396  26.782384  26.540888  26.620605
2016-11-30  26.300094  26.441492  25.986660  26.045576
2016-12-31  27.490193  27.619807  27.202683  27.294592

In [ ]:
selected_columns = dataframe_ex[['Volume', 'Low']] #Select only the columns Volume and Low
print(selected_columns)

              Volume         Low
Date
2017-01-03  20663900  115.510002
2017-01-04  19630900  117.290001
2017-01-05  19492200  118.320000
2017-01-06  28545300  120.029999
2017-01-09  22880400  123.040001
...              ...         ...
2018-12-21  56901500  123.419998
2018-12-24  22066000  123.019997
2018-12-26  39723400  125.889999
2018-12-27  31202500  129.669998
2018-12-28  22627600  132.199997

[501 rows x 2 columns]

We can even specify both rows and columns using loc[]. The row indices and column names are separated by a comma:

In [ ]:
print(aapl_month.loc['2016-03':'2016-06',['Open', 'High', 'Low', 'Close']])

                 Open       High        Low      Close
Date
2016-03-31  25.431520  25.473242  25.236819  25.262316
2016-04-30  21.785529  21.954734  21.442488  21.727583
2016-05-31  23.226409  23.412967  23.044516  23.287041
2016-06-30  22.023112  22.333262  21.990464  22.293619

In [ ]:
#Access to the rows from 2018-02 to 2018-05 and the columns Volume and Low
print(selected_columns.loc['2018-02':'2018-05'],['Volume', 'Low'])

              Volume         Low
Date
2018-02-01  54211300  187.889999
2018-02-02  26677500  189.979996
2018-02-05  33128200  180.610001
2018-02-06  37758500  177.740005
2018-02-07  27601900  179.949997
...              ...         ...
2018-05-24  12354700  185.029999
2018-05-25  10965100  184.449997
2018-05-29  16398900  183.710007
2018-05-30  13736900  185.250000
2018-05-31  30782600  187.479996

[83 rows x 2 columns] ['Volume', 'Low']

The subset methods in DataFrame is quite useful. By writing logical statements in square brackets, we can make customized subsets:

In [ ]:
import numpy as np 

above = aapl_bar[aapl_bar.Close > np.mean(aapl_bar.Close)]
print(above)

                 Open       High        Low      Close
Date
2016-03-31  25.431520  25.473242  25.236819  25.262316
2016-08-31  24.773054  24.986412  24.768364  24.876215
2016-09-30  26.367388  26.580747  26.212645  26.505720
2016-10-31  26.646396  26.782384  26.540888  26.620605
2016-11-30  26.300094  26.441492  25.986660  26.045576
2016-12-31  27.490193  27.619807  27.202683  27.294592

In [ ]:
import numpy as np #Import library numpy with the name np

#Show the rows in the dataframe that its value in the column Low is smaller than the mean
data = selected_columns[selected_columns.Low < np.mean(selected_columns.Low)]
print(data)

              Volume         Low
Date
2017-01-03  20663900  115.510002
2017-01-04  19630900  117.290001
2017-01-05  19492200  118.320000
2017-01-06  28545300  120.029999
2017-01-09  22880400  123.040001
...              ...         ...
2018-12-21  56901500  123.419998
2018-12-24  22066000  123.019997
2018-12-26  39723400  125.889999
2018-12-27  31202500  129.669998
2018-12-28  22627600  132.199997

[225 rows x 2 columns]

## Data Validation
As mentioned, all methods that apply to a Series can also be applied to a DataFrame. Here we add a new column to an existing DataFrame:

In [ ]:
aapl_bar['rate_return'] = aapl_bar.Close.pct_change()
print(aapl_bar)

                 Open       High        Low      Close  rate_return
Date
2016-01-31  21.852388  22.440250  21.750952  22.440250          NaN
2016-02-29  22.450761  22.768308  22.402086  22.411358    -0.001288
2016-03-31  25.431520  25.473242  25.236819  25.262316     0.127210
2016-04-30  21.785529  21.954734  21.442488  21.727583    -0.139921
2016-05-31  23.226409  23.412967  23.044516  23.287041     0.071773
2016-06-30  22.023112  22.333262  21.990464  22.293619    -0.042660
2016-07-31  24.296780  24.380731  24.177849  24.301443     0.090063
2016-08-31  24.773054  24.986412  24.768364  24.876215     0.023652
2016-09-30  26.367388  26.580747  26.212645  26.505720     0.065505
2016-10-31  26.646396  26.782384  26.540888  26.620605     0.004334
2016-11-30  26.300094  26.441492  25.986660  26.045576    -0.021601
2016-12-31  27.490193  27.619807  27.202683  27.294592     0.047955

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
#Define a new column in the DataFrame selected_columns with the name return_rate,
#each row of the new column defined as the percentage change of that row in the column Low
selected_columns['return_rate'] = selected_columns.Low.pct_change()
print(selected_columns)

              Volume         Low  return_rate
Date
2017-01-03  20663900  115.510002          NaN
2017-01-04  19630900  117.290001     0.015410
2017-01-05  19492200  118.320000     0.008782
2017-01-06  28545300  120.029999     0.014452
2017-01-09  22880400  123.040001     0.025077
...              ...         ...          ...
2018-12-21  56901500  123.419998    -0.050615
2018-12-24  22066000  123.019997    -0.003241
2018-12-26  39723400  125.889999     0.023330
2018-12-27  31202500  129.669998     0.030026
2018-12-28  22627600  132.199997     0.019511

[501 rows x 3 columns]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

Here the calculation introduced a NaN value. If the DataFrame is large, we would not be able to observe it. **isnull()** provides a convenient way to check abnormal values.

In [ ]:
missing = aapl_bar.isnull()
print(missing)
print('---------------------------------------------')
print(missing.describe())

             Open   High    Low  Close  rate_return
Date
2016-01-31  False  False  False  False         True
2016-02-29  False  False  False  False        False
2016-03-31  False  False  False  False        False
2016-04-30  False  False  False  False        False
2016-05-31  False  False  False  False        False
2016-06-30  False  False  False  False        False
2016-07-31  False  False  False  False        False
2016-08-31  False  False  False  False        False
2016-09-30  False  False  False  False        False
2016-10-31  False  False  False  False        False
2016-11-30  False  False  False  False        False
2016-12-31  False  False  False  False        False
---------------------------------------------
         Open   High    Low  Close rate_return
count      12     12     12     12          12
unique      1      1      1      1           2
top     False  False  False  False       False
freq       12     12     12     12          11

In [ ]:
#isnull() return a Dataframe with boolean values, true if value is NaN, else false
missing_boolean = selected_columns.isnull()
print(missing_boolean) 
print("............Statistical Summaries.........")
#Print statistical summaries of missing_boolean DataFrame
print(missing_boolean.describe())

            Volume    Low  return_rate
Date
2017-01-03   False  False         True
2017-01-04   False  False        False
2017-01-05   False  False        False
2017-01-06   False  False        False
2017-01-09   False  False        False
...            ...    ...          ...
2018-12-21   False  False        False
2018-12-24   False  False        False
2018-12-26   False  False        False
2018-12-27   False  False        False
2018-12-28   False  False        False

[501 rows x 3 columns]
............Statistical Summaries.........
       Volume    Low return_rate
count     501    501         501
unique      1      1           2
top     False  False       False
freq      501    501         500

The row labelled "unique" indicates the number of unique values in each column. Since the "rate_return" column has 2 unique values, it has at least one missing value.

We can deduce the number of missing values by comparing "count" with "freq". There are 12 counts and 11 False values, so there is one True value which corresponds to the missing value.

We can also find the rows with missing values easily:

In [ ]:
print(missing[missing.rate_return == True])

             Open   High    Low  Close  rate_return
Date
2016-01-31  False  False  False  False         True

In [ ]:
#Use return_rate column as boolean mask
#If missing_boolean[return_rate][i]==True, then select selected_columns dataframe at row i
print(selected_columns[missing_boolean.return_rate])

              Volume         Low  return_rate
Date
2017-01-03  20663900  115.510002          NaN

Usually when dealing with missing data, we either delete the whole row or fill it with some value. As we introduced in the Series chapter, the same method **dropna()** and **fillna()** can be applied to a DataFrame.

In [ ]:
drop = aapl_bar.dropna()
print(drop)
print('\n--------------------------------------------------\n')
fill = aapl_bar.fillna(0)
print(fill)

                 Open       High        Low      Close  rate_return
Date
2016-02-29  22.450761  22.768308  22.402086  22.411358    -0.001288
2016-03-31  25.431520  25.473242  25.236819  25.262316     0.127210
2016-04-30  21.785529  21.954734  21.442488  21.727583    -0.139921
2016-05-31  23.226409  23.412967  23.044516  23.287041     0.071773
2016-06-30  22.023112  22.333262  21.990464  22.293619    -0.042660
2016-07-31  24.296780  24.380731  24.177849  24.301443     0.090063
2016-08-31  24.773054  24.986412  24.768364  24.876215     0.023652
2016-09-30  26.367388  26.580747  26.212645  26.505720     0.065505
2016-10-31  26.646396  26.782384  26.540888  26.620605     0.004334
2016-11-30  26.300094  26.441492  25.986660  26.045576    -0.021601
2016-12-31  27.490193  27.619807  27.202683  27.294592     0.047955

--------------------------------------------------

                 Open       High        Low      Close  rate_return
Date
2016-01-31  21.852388  22.440250  21.750952  22.440250     0.000000
2016-02-29  22.450761  22.768308  22.402086  22.411358    -0.001288
2016-03-31  25.431520  25.473242  25.236819  25.262316     0.127210
2016-04-30  21.785529  21.954734  21.442488  21.727583    -0.139921
2016-05-31  23.226409  23.412967  23.044516  23.287041     0.071773
2016-06-30  22.023112  22.333262  21.990464  22.293619    -0.042660
2016-07-31  24.296780  24.380731  24.177849  24.301443     0.090063
2016-08-31  24.773054  24.986412  24.768364  24.876215     0.023652
2016-09-30  26.367388  26.580747  26.212645  26.505720     0.065505
2016-10-31  26.646396  26.782384  26.540888  26.620605     0.004334
2016-11-30  26.300094  26.441492  25.986660  26.045576    -0.021601
2016-12-31  27.490193  27.619807  27.202683  27.294592     0.047955

In [ ]:
#Store in variable 'drop' the dataframe selected_columns with the rows without NaN values
drop = selected_columns.dropna()
print(drop)
print('\n--------------Replacing NaN with 0----------------------\n')
#Store in variable 'fill' the dataframe selected_columns with the samue values, replacing NaN values with 0
fill = selected_columns.fillna(0)
print(fill)

              Volume         Low  return_rate
Date
2017-01-04  19630900  117.290001     0.015410
2017-01-05  19492200  118.320000     0.008782
2017-01-06  28545300  120.029999     0.014452
2017-01-09  22880400  123.040001     0.025077
2017-01-10  17324600  124.279999     0.010078
...              ...         ...          ...
2018-12-21  56901500  123.419998    -0.050615
2018-12-24  22066000  123.019997    -0.003241
2018-12-26  39723400  125.889999     0.023330
2018-12-27  31202500  129.669998     0.030026
2018-12-28  22627600  132.199997     0.019511

[500 rows x 3 columns]

--------------Replacing NaN with 0----------------------

              Volume         Low  return_rate
Date
2017-01-03  20663900  115.510002     0.000000
2017-01-04  19630900  117.290001     0.015410
2017-01-05  19492200  118.320000     0.008782
2017-01-06  28545300  120.029999     0.014452
2017-01-09  22880400  123.040001     0.025077
...              ...         ...          ...
2018-12-21  56901500  123.419998    -0.050615
2018-12-24  22066000  123.019997    -0.003241
2018-12-26  39723400  125.889999     0.023330
2018-12-27  31202500  129.669998     0.030026
2018-12-28  22627600  132.199997     0.019511

[501 rows x 3 columns]

## DataFrame Concat
We have seen how to extract a Series from a dataFrame. Now we need to consider how to merge a Series or a DataFrame into another one.

In Pandas, the function **concat()** allows us to merge multiple Series into a DataFrame:

In [ ]:
s1 = pd.Series([143.5, 144.09, 142.73, 144.18, 143.77], name = 'AAPL')
s2 = pd.Series([898.7, 911.71, 906.69, 918.59, 926.99], name = 'GOOG')
data_frame = pd.concat([s1,s2], axis = 1)
print(data_frame)

     AAPL    GOOG
0  143.50  898.70
1  144.09  911.71
2  142.73  906.69
3  144.18  918.59
4  143.77  926.99

In [ ]:
fbok = [243.3, 244.29, 224.73, 234.18, 234.77]
nvda = [89.7, 91.71, 90.69, 91.59, 92.99]
fbok = pd.Series(fbok, name='FB') #Make a typecast from list fbok to Pandas Series and set its name to FB
nvda = pd.Series(nvda, name='NVDA') #Make a typecast from list nvda to Pandas Series and set its name to NVDA

#Concatenate pandas Series fbok and nvda by columns in a new Pandas DataFrame
ex_dataframe = pd.concat([fbok,nvda], axis=1)
print(ex_dataframe)

       FB   NVDA
0  243.30  89.70
1  244.29  91.71
2  224.73  90.69
3  234.18  91.59
4  234.77  92.99

The "axis = 1" parameter will join two DataFrames by columns:

In [ ]:
log_price = np.log(aapl_bar.Close)
log_price.name = 'log_price'
print(log_price)
print('\n---------------------- separate line--------------------\n')
concat = pd.concat([aapl_bar, log_price], axis = 1)
print(concat)

Date
2016-01-31    3.110856
2016-02-29    3.109568
2016-03-31    3.229314
2016-04-30    3.078583
2016-05-31    3.147897
2016-06-30    3.104301
2016-07-31    3.190536
2016-08-31    3.213912
2016-09-30    3.277361
2016-10-31    3.281686
2016-11-30    3.259848
2016-12-31    3.306689
Freq: M, Name: log_price, dtype: float64

---------------------- separate line--------------------

                 Open       High        Low      Close  rate_return  log_price
Date
2016-01-31  21.852388  22.440250  21.750952  22.440250          NaN   3.110856
2016-02-29  22.450761  22.768308  22.402086  22.411358    -0.001288   3.109568
2016-03-31  25.431520  25.473242  25.236819  25.262316     0.127210   3.229314
2016-04-30  21.785529  21.954734  21.442488  21.727583    -0.139921   3.078583
2016-05-31  23.226409  23.412967  23.044516  23.287041     0.071773   3.147897
2016-06-30  22.023112  22.333262  21.990464  22.293619    -0.042660   3.104301
2016-07-31  24.296780  24.380731  24.177849  24.301443     0.090063   3.190536
2016-08-31  24.773054  24.986412  24.768364  24.876215     0.023652   3.213912
2016-09-30  26.367388  26.580747  26.212645  26.505720     0.065505   3.277361
2016-10-31  26.646396  26.782384  26.540888  26.620605     0.004334   3.281686
2016-11-30  26.300094  26.441492  25.986660  26.045576    -0.021601   3.259848
2016-12-31  27.490193  27.619807  27.202683  27.294592     0.047955   3.306689

In [ ]:
#Apply e^x to all the rows of the column Low of DataFrame selected_columns
exp_price = np.exp(selected_columns.Low)
exp_price.name = 'exp_price' #Set name of Pandas Series as 'exp_price'
print(exp_price)
print('---------New DataFrame with column exp_price------')

#Concatenate the columns of DataFrame selected_columns with Series exp_price
result_concat = pd.concat([selected_columns,exp_price], axis=1)
print(result_concat)

Date
2017-01-03    1.463378e+50
2017-01-04    8.677611e+50
2017-01-05    2.430653e+51
2017-01-06    1.343897e+52
2017-01-09    2.726424e+53
                  ...
2018-12-21    3.986797e+53
2018-12-24    2.672426e+53
2018-12-26    4.713376e+54
2018-12-27    2.065212e+56
2018-12-28    2.592562e+57
Name: exp_price, Length: 501, dtype: float64
---------New DataFrame with column exp_price------
              Volume         Low  return_rate     exp_price
Date
2017-01-03  20663900  115.510002          NaN  1.463378e+50
2017-01-04  19630900  117.290001     0.015410  8.677611e+50
2017-01-05  19492200  118.320000     0.008782  2.430653e+51
2017-01-06  28545300  120.029999     0.014452  1.343897e+52
2017-01-09  22880400  123.040001     0.025077  2.726424e+53
...              ...         ...          ...           ...
2018-12-21  56901500  123.419998    -0.050615  3.986797e+53
2018-12-24  22066000  123.019997    -0.003241  2.672426e+53
2018-12-26  39723400  125.889999     0.023330  4.713376e+54
2018-12-27  31202500  129.669998     0.030026  2.065212e+56
2018-12-28  22627600  132.199997     0.019511  2.592562e+57

[501 rows x 4 columns]

We can also join two DataFrames by rows. Consider these two DataFrames:

In [ ]:
df_volume = aapl_table.loc['2016-10':'2017-04',['Volume', 'Stock Splits']].resample('M').agg(lambda x: x[-1])
print(df_volume)
print('\n---------------------- separate line--------------------\n')
df_2017 = aapl_table.loc['2016-10':'2017-04',['Open', 'High', 'Low', 'Close']].resample('M').agg(lambda x: x[-1])
print(df_2017)

               Volume  Stock Splits
Date
2016-10-31  105677600             0
2016-11-30  144649200             0
2016-12-31  122345200             0
2017-01-31  196804000             0
2017-02-28   93931600             0
2017-03-31   78646800             0
2017-04-30   83441600             0

---------------------- separate line--------------------

                 Open       High        Low      Close
Date
2016-10-31  26.646396  26.782384  26.540888  26.620605
2016-11-30  26.300094  26.441492  25.986660  26.045576
2016-12-31  27.490193  27.619807  27.202683  27.294592
2017-01-31  28.550684  28.607243  28.425783  28.597816
2017-02-28  32.444862  32.530069  32.354920  32.423561
2017-03-31  34.016455  34.146633  33.848407  34.002254
2017-04-30  34.104032  34.153737  33.909951  33.999889

In [ ]:
#Select rows from 2018-01 to 2018-02, columns High,Dividends and aggregate data by week using the largest value of the group
df_high = fbok_table.loc['2018-01':'2018-02',["High","Dividends"]].resample("W").max()
print(df_high)
print("..........Ene-Feb 2018------------")
#Select rows from 2018-01 to 2018-02, columns open,Volume,Low,Close and aggregate data by week using the largest value of the group
df_2018 = fbok_table.loc['2018-01':'2018-02',['Open', 'Volume', 'Low', 'Close']].resample("W").max()
print(df_2018)

                  High  Dividends
Date
2018-01-07  186.899994          0
2018-01-14  188.899994          0
2018-01-21  182.369995          0
2018-01-28  190.660004          0
2018-02-04  195.320007          0
2018-02-11  190.610001          0
2018-02-18  180.500000          0
2018-02-25  183.389999          0
2018-03-04  185.660004          0
..........Ene-Feb 2018------------
                  Open    Volume         Low       Close
Date
2018-01-07  185.589996  18151900  184.929993  186.850006
2018-01-14  188.699997  77551300  187.380005  188.279999
2018-01-21  181.500000  36183800  180.169998  181.289993
2018-01-28  189.889999  25678800  186.809998  190.000000
2018-02-04  192.039993  54211300  189.979996  193.089996
2018-02-11  186.929993  39887600  180.610001  185.309998
2018-02-18  180.500000  32092100  176.839996  179.960007
2018-02-25  179.899994  23200800  179.509995  183.289993
2018-03-04  184.580002  18783000  183.220001  184.929993

Now we merge the DataFrames with our DataFrame 'aapl_bar'

In [ ]:
concat = pd.concat([aapl_bar, df_volume], axis = 1)
print(concat)

                 Open       High  ...       Volume  Stock Splits
Date                              ...
2016-01-31  21.852388  22.440250  ...          NaN           NaN
2016-02-29  22.450761  22.768308  ...          NaN           NaN
2016-03-31  25.431520  25.473242  ...          NaN           NaN
2016-04-30  21.785529  21.954734  ...          NaN           NaN
2016-05-31  23.226409  23.412967  ...          NaN           NaN
2016-06-30  22.023112  22.333262  ...          NaN           NaN
2016-07-31  24.296780  24.380731  ...          NaN           NaN
2016-08-31  24.773054  24.986412  ...          NaN           NaN
2016-09-30  26.367388  26.580747  ...          NaN           NaN
2016-10-31  26.646396  26.782384  ...  105677600.0           0.0
2016-11-30  26.300094  26.441492  ...  144649200.0           0.0
2016-12-31  27.490193  27.619807  ...  122345200.0           0.0
2017-01-31        NaN        NaN  ...  196804000.0           0.0
2017-02-28        NaN        NaN  ...   93931600.0           0.0
2017-03-31        NaN        NaN  ...   78646800.0           0.0
2017-04-30        NaN        NaN  ...   83441600.0           0.0

[16 rows x 7 columns]

In [ ]:
#Concatenate the columns of DataFrame selected_columns and the columns of df_high
concatenation = pd.concat([selected_columns, df_high], axis = 1)
print(concatenation)

                Volume         Low  return_rate  High  Dividends
Date
2017-01-03  20663900.0  115.510002          NaN   NaN        NaN
2017-01-04  19630900.0  117.290001     0.015410   NaN        NaN
2017-01-05  19492200.0  118.320000     0.008782   NaN        NaN
2017-01-06  28545300.0  120.029999     0.014452   NaN        NaN
2017-01-09  22880400.0  123.040001     0.025077   NaN        NaN
...                ...         ...          ...   ...        ...
2018-12-21  56901500.0  123.419998    -0.050615   NaN        NaN
2018-12-24  22066000.0  123.019997    -0.003241   NaN        NaN
2018-12-26  39723400.0  125.889999     0.023330   NaN        NaN
2018-12-27  31202500.0  129.669998     0.030026   NaN        NaN
2018-12-28  22627600.0  132.199997     0.019511   NaN        NaN

[510 rows x 5 columns]

By default the DataFrame are joined with all of the data. This default options results in zero information loss. We can also merge them by intersection, this is called 'inner join

In [ ]:
concat = pd.concat([aapl_bar,df_volume],axis = 1, join = 'inner')
print(concat)

                 Open       High  ...     Volume  Stock Splits
Date                              ...
2016-10-31  26.646396  26.782384  ...  105677600             0
2016-11-30  26.300094  26.441492  ...  144649200             0
2016-12-31  27.490193  27.619807  ...  122345200             0

[3 rows x 7 columns]

In [ ]:
#Concatenate the columns of DataFrame selected_columns and the columns of df_high by its intersection
concatenation = pd.concat([selected_columns, df_high], axis = 1, join='inner')
print(concatenation)

Empty DataFrame
Columns: [Volume, Low, return_rate, High, Dividends]
Index: []

Only the intersection part was left if use 'inner join' method. Now let's try to append a DataFrame to another one:

In [ ]:
append = aapl_bar.append(df_2017)
print(append)

                 Open       High        Low      Close  rate_return
Date
2016-01-31  21.852388  22.440250  21.750952  22.440250          NaN
2016-02-29  22.450761  22.768308  22.402086  22.411358    -0.001288
2016-03-31  25.431520  25.473242  25.236819  25.262316     0.127210
2016-04-30  21.785529  21.954734  21.442488  21.727583    -0.139921
2016-05-31  23.226409  23.412967  23.044516  23.287041     0.071773
2016-06-30  22.023112  22.333262  21.990464  22.293619    -0.042660
2016-07-31  24.296780  24.380731  24.177849  24.301443     0.090063
2016-08-31  24.773054  24.986412  24.768364  24.876215     0.023652
2016-09-30  26.367388  26.580747  26.212645  26.505720     0.065505
2016-10-31  26.646396  26.782384  26.540888  26.620605     0.004334
2016-11-30  26.300094  26.441492  25.986660  26.045576    -0.021601
2016-12-31  27.490193  27.619807  27.202683  27.294592     0.047955
2016-10-31  26.646396  26.782384  26.540888  26.620605          NaN
2016-11-30  26.300094  26.441492  25.986660  26.045576          NaN
2016-12-31  27.490193  27.619807  27.202683  27.294592          NaN
2017-01-31  28.550684  28.607243  28.425783  28.597816          NaN
2017-02-28  32.444862  32.530069  32.354920  32.423561          NaN
2017-03-31  34.016455  34.146633  33.848407  34.002254          NaN
2017-04-30  34.104032  34.153737  33.909951  33.999889          NaN

In [ ]:
#Add the content of df_2018 to selected_columns DataFrame
append_example = selected_columns.append(df_2018)
print(append_example)

              Volume         Low  return_rate        Open       Close
Date
2017-01-03  20663900  115.510002          NaN         NaN         NaN
2017-01-04  19630900  117.290001     0.015410         NaN         NaN
2017-01-05  19492200  118.320000     0.008782         NaN         NaN
2017-01-06  28545300  120.029999     0.014452         NaN         NaN
2017-01-09  22880400  123.040001     0.025077         NaN         NaN
...              ...         ...          ...         ...         ...
2018-02-04  54211300  189.979996          NaN  192.039993  193.089996
2018-02-11  39887600  180.610001          NaN  186.929993  185.309998
2018-02-18  32092100  176.839996          NaN  180.500000  179.960007
2018-02-25  23200800  179.509995          NaN  179.899994  183.289993
2018-03-04  18783000  183.220001          NaN  184.580002  184.929993

[510 rows x 5 columns]

'Append' is essentially to concat two DataFrames by axis = 0, thus here is an alternative way to append:

In [ ]:
concat = pd.concat([aapl_bar, df_2017], axis = 0)
print(concat)

                 Open       High        Low      Close  rate_return
Date
2016-01-31  21.852388  22.440250  21.750952  22.440250          NaN
2016-02-29  22.450761  22.768308  22.402086  22.411358    -0.001288
2016-03-31  25.431520  25.473242  25.236819  25.262316     0.127210
2016-04-30  21.785529  21.954734  21.442488  21.727583    -0.139921
2016-05-31  23.226409  23.412967  23.044516  23.287041     0.071773
2016-06-30  22.023112  22.333262  21.990464  22.293619    -0.042660
2016-07-31  24.296780  24.380731  24.177849  24.301443     0.090063
2016-08-31  24.773054  24.986412  24.768364  24.876215     0.023652
2016-09-30  26.367388  26.580747  26.212645  26.505720     0.065505
2016-10-31  26.646396  26.782384  26.540888  26.620605     0.004334
2016-11-30  26.300094  26.441492  25.986660  26.045576    -0.021601
2016-12-31  27.490193  27.619807  27.202683  27.294592     0.047955
2016-10-31  26.646396  26.782384  26.540888  26.620605          NaN
2016-11-30  26.300094  26.441492  25.986660  26.045576          NaN
2016-12-31  27.490193  27.619807  27.202683  27.294592          NaN
2017-01-31  28.550684  28.607243  28.425783  28.597816          NaN
2017-02-28  32.444862  32.530069  32.354920  32.423561          NaN
2017-03-31  34.016455  34.146633  33.848407  34.002254          NaN
2017-04-30  34.104032  34.153737  33.909951  33.999889          NaN

In [ ]:
#Concatenate the rows of selected_columns and the rows of df_2018
concat_example = pd.concat([selected_columns,df_2018],axis=0)
print(concat_example)

              Volume         Low  return_rate        Open       Close
Date
2017-01-03  20663900  115.510002          NaN         NaN         NaN
2017-01-04  19630900  117.290001     0.015410         NaN         NaN
2017-01-05  19492200  118.320000     0.008782         NaN         NaN
2017-01-06  28545300  120.029999     0.014452         NaN         NaN
2017-01-09  22880400  123.040001     0.025077         NaN         NaN
...              ...         ...          ...         ...         ...
2018-02-04  54211300  189.979996          NaN  192.039993  193.089996
2018-02-11  39887600  180.610001          NaN  186.929993  185.309998
2018-02-18  32092100  176.839996          NaN  180.500000  179.960007
2018-02-25  23200800  179.509995          NaN  179.899994  183.289993
2018-03-04  18783000  183.220001          NaN  184.580002  184.929993

[510 rows x 5 columns]

Please note that if the two DataFrame have some columns with the same column names, these columns are considered to be the same and will be merged. It's very important to have the right column names. If we change a column names here:

In [ ]:
df_2017.columns = ['Change', 'High','Low','Close']
concat = pd.concat([aapl_bar, df_2017], axis = 0)
print(concat)

                 Open       High        Low      Close  rate_return     Change
Date
2016-01-31  21.852388  22.440250  21.750952  22.440250          NaN        NaN
2016-02-29  22.450761  22.768308  22.402086  22.411358    -0.001288        NaN
2016-03-31  25.431520  25.473242  25.236819  25.262316     0.127210        NaN
2016-04-30  21.785529  21.954734  21.442488  21.727583    -0.139921        NaN
2016-05-31  23.226409  23.412967  23.044516  23.287041     0.071773        NaN
2016-06-30  22.023112  22.333262  21.990464  22.293619    -0.042660        NaN
2016-07-31  24.296780  24.380731  24.177849  24.301443     0.090063        NaN
2016-08-31  24.773054  24.986412  24.768364  24.876215     0.023652        NaN
2016-09-30  26.367388  26.580747  26.212645  26.505720     0.065505        NaN
2016-10-31  26.646396  26.782384  26.540888  26.620605     0.004334        NaN
2016-11-30  26.300094  26.441492  25.986660  26.045576    -0.021601        NaN
2016-12-31  27.490193  27.619807  27.202683  27.294592     0.047955        NaN
2016-10-31        NaN  26.782384  26.540888  26.620605          NaN  26.646396
2016-11-30        NaN  26.441492  25.986660  26.045576          NaN  26.300094
2016-12-31        NaN  27.619807  27.202683  27.294592          NaN  27.490193
2017-01-31        NaN  28.607243  28.425783  28.597816          NaN  28.550684
2017-02-28        NaN  32.530069  32.354920  32.423561          NaN  32.444862
2017-03-31        NaN  34.146633  33.848407  34.002254          NaN  34.016455
2017-04-30        NaN  34.153737  33.909951  33.999889          NaN  34.104032

In [ ]:
#Set the columns of df_2018 to "Open","Volume","Low" and "Close"
df_2018.columns = ["Open","Volume","Low","Close"]
#Concatenate the rows of selected_columns and the rows of df_2018
concat_example = pd.concat([selected_columns,df_2018],axis=0)
print(concat_example)

              Volume         Low  return_rate        Open       Close
Date
2017-01-03  20663900  115.510002          NaN         NaN         NaN
2017-01-04  19630900  117.290001     0.015410         NaN         NaN
2017-01-05  19492200  118.320000     0.008782         NaN         NaN
2017-01-06  28545300  120.029999     0.014452         NaN         NaN
2017-01-09  22880400  123.040001     0.025077         NaN         NaN
...              ...         ...          ...         ...         ...
2018-02-04  54211300  189.979996          NaN  192.039993  193.089996
2018-02-11  39887600  180.610001          NaN  186.929993  185.309998
2018-02-18  32092100  176.839996          NaN  180.500000  179.960007
2018-02-25  23200800  179.509995          NaN  179.899994  183.289993
2018-03-04  18783000  183.220001          NaN  184.580002  184.929993

[510 rows x 5 columns]

Since the column name of 'Open' has been changed, the new DataFrame has an new column named 'Change'.

# Summary

Hereby we introduced the most import part of python: resampling and DataFrame manipulation. We only introduced the most commonly used method in Financial data analysis. There are also many methods used in data mining, which are also beneficial. You can always check the [Pandas](https://pandas.pydata.org/pandas-docs/stable/index.html) official documentations for help.